/**
 * Emoji Genres
 * v1.0.1
 */

:root {
	--gicon: "\f02b";
}

.data.genre span a[href*="genre="]::before {
	content: var(--gicon);
	font-family: "Segoe UI Emoji", "Apple Color Emoji", emoji, var(--icon-font);
}

/* Action */
a[href$="&genre=1"]::before {
	--gicon: "⚔️"
}
/* Adventure */
a[href$="&genre=2"]::before {
	--gicon: "📌"
}
/* Avant Garde */
a[href$="&genre=5"]::before {
	--gicon: "🎨"
}
/* Award Winning */
a[href$="&genre=46"]::before {
	--gicon: "🏆"
}
/* Boys Love */
a[href$="&genre=28"]::before {
	--gicon: "🍆"
}
/* Comedy */
a[href$="&genre=4"]::before {
	--gicon: "😆"
}
/* Drama */
a[href$="&genre=8"]::before {
	--gicon: "💢"
}
/* Ecchi & Erotica */
a[href$="&genre=9"]::before,
a[href$="&genre=49"]::before {
	--gicon: "💦"
}
/* Fantasy */
a[href$="&genre=10"]::before {
	--gicon: "🌈"
}
/* Girls Love */
a[href$="&genre=26"]::before {
	--gicon: "🍑"
}
/* Gourmet */
a[href$="&genre=47"]::before {
	--gicon: "🍉"
}
/* Hentai */
a[href$="&genre=12"]::before {
	--gicon: "💋"
}
/* Horror */
a[href$="&genre=14"]::before {
	--gicon: "😱"
}
/* Mystery */
a[href$="&genre=7"]::before {
	--gicon: "❔"
}
/* Romance */
a[href$="&genre=22"]::before {
	--gicon: "💙"
}
/* Sci-Fi */
a[href$="&genre=24"]::before {
	--gicon: "🛰️"
}
/* Slice of Life */
a[href$="&genre=36"]::before {
	--gicon: "🍕"
}
/* Sports */
a[href$="&genre=30"]::before {
	--gicon: "⚽"
}
/* Supernatural */
a[href$="&genre=37"]::before {
	--gicon: "👻";
}
/* Suspense */
a[href$="&genre=41"]::before,
a[href$="&genre=45"]::before {
	--gicon: "⏳"
}

/* END of Emoji Genres */