/**
 * List Width
 * v1.1.0
 */

:root {
	--list-width: 1060px;
	--render-offset: calc(var(--list-width) * 0.5 + 8px) !important; /* for compat w/ Side Renders mod */
}

#status-menu:not(.fixed) .status-menu,
.list-unit .list-status-title,
.cover-block,
#cover-image,
.list-table,
.list-table > tbody {
	width: var(--list-width);
}

#status-menu:not(.fixed) .status-menu {
	min-width: 900px;
}
#status-menu.fixed {
	right: calc(50% - 60px - var(--list-width) * 0.5 - 15px);
}

#footer-block {
	max-width: var(--list-width);
}

/* END of List Width */