/**
 * Side Renders
 * v1.0.1
 */

/* Left Render */

footer:before {
	right: calc(100% - (50% - var(--render-offset)));
	background-image: url(https://i.imgur.com/CqLKXd5.png);
	background-position: right bottom;
	background-size: contain;
}

/* Right Render */

footer:after {
	left: calc(100% - (50% - var(--render-offset)));
	background-image: url(https://i.imgur.com/CqLKXd5.png);
	background-position: left bottom;
	background-size: contain;
}

/* Styling for both renders */

footer:before, footer:after {
	content: "";
	position: fixed;
	top: 0;
	z-index: -1;
	width: calc(50% - var(--render-offset));
	min-width: 262px;
	height: 100%;
	background-repeat: no-repeat;
}
:root { --render-offset: 538px; }

/* Fix layering */

.header {
	z-index: 1;
}

/* END of Side Renders */