/**
 * Side Renders
 * v1.0.0
 */

/* Left Render */

footer:before {
	right: calc(100% - (50% - 538px));
	background-image: url(URLHERE);
	background-position: left bottom;
	background-size: contain;
}

/* Right Render */

footer:after {
	left: calc(100% - (50% - 538px));
	background-image: url(URLHERE);
	background-position: right bottom;
	background-size: contain;
}

/* Styling for both renders */

footer:before, footer:after {
	content: "";
	position: fixed;
	top: 0;
	z-index: -1;
	
	width: calc(50% - 538px);
	min-width: 262px;
	height: 100%;
	background-repeat: no-repeat;
}

/* Fix layering */

.header {
	z-index: 1;
}

footer {
	position: relative;
	z-index: 0;
}

/* END of Side Renders */