/**
 * Review Tags
 * v1.1.0
 */

.data.tags div:not(:empty) {
	display: inline-block;
	padding: 3px 6px;
	background: var(--content-highlight);
	border-radius: 3px;
	margin-top: 3px;
	line-height: 1.35;
	cursor: text;
}

.data.tags span {
	display: inline;
	cursor: text;
}

.data.tags span a {
	display: inline;
	padding: 0;
	background: none;
	margin: 0;
	pointer-events: none;
}

.data.tags span a::before {
	content: none;
}

/* Replace the default commas for better compatibility with Highlight Favourites mod */
.data.tags span + span a::before {
	content: ", ";
	font-family: var(--font);
}

/* END of Review Tags */