/**
 * Switch Tags & Genres
 * v1.2.0
 */

:root {
	/* variables for compatibility with other mods */
	--tag-align: left;
	--genre-align: right;
}

.data.tags.tags.tags.tags {
	margin-left: 0;
	text-align: var(--tag-align) !important;
}

.anime .data.tags ~ .genre,
.manga .data.tags ~ .genre:has(~.genre),
.manga .list-table-header:not(:has(.demographic)) ~ * .tags ~ .genre {
	margin-left: auto;
	text-align: var(--genre-align) !important;
}

/* END of Switch Tags & Genres */