/**
 * "Tilt" by Valerio Lyndon
 * Revision 8.0
 * 
 * = TABLE OF CONTENTS =
 * 
 * IMPORTS
 * 
 * OPTIMIZATIONS     : Page-wide repeated code.
 * 
 * PAGE-BASE         : Page-wide properties & widths.
 * 
 * HEADER
 * Logo
 * Nav&User-Icons
 * Subnav-R
 * Subnav-R-Search
 * Subnav-R-Non-Owner
 * Subnav-L-Sort-by
 * Subnav-L-BTNs
 * Log-in/Affinity
 * 
 * COVER
 * 
 * LIST              : Anime/manga listings.
 * Status
 * Image
 * Title
 * Add-Edit-More
 * Score
 * Progress
 * Season-&-Studio
 * Tags
 * More-Info
 * 
 * FOOTER
 * 
 * OVERLAYS          : Overlayed menus and iframes.
 * Filter-Menu
 * 
 * MEDIA-QUERY-FIXES : Fixes for small screens.
 */





/*==============================*\
  !IMPORTS
\*==============================*/

@\import "https://fonts.googleapis.com/css?family=Carrois+Gothic+SC|Open+Sans:400,700";





/*==============================*\
  !OPTIMIZATIONS
\*==============================*/

/* Variables */

:root {
	/* Images
	 * Valid values are "url(IMAGE_URL_HERE)" or "none".
	 * For banner position (banner-pos-__), values are in X/Y dimensions.
	 * Examples of valid values: "left bottom", "center center", "30% 10px"
	 */
	
	--background-img: url(http://i.imgur.com/oQ5LYfB.jpg);
	--background-img-hd: url(http://i.imgur.com/IJrzYGP.jpg);
	--logo-img: url(https://i.imgur.com/XOLKsEF.png);
	--banner-img-all: url(http://i.imgur.com/2dNxOcM.png);
	--banner-img-current: url(http://i.imgur.com/aPHWdRV.png);
	--banner-img-completed: url(http://i.imgur.com/Dv7xyGN.png);
	--banner-img-onhold: url(http://i.imgur.com/0HM7Vho.png);
	--banner-img-dropped: url(http://i.imgur.com/dh42mXP.png);
	--banner-img-planned: url(http://i.imgur.com/JQlB1VA.png);
	--banner-pos-all: 20px center;
	--banner-pos-current: 115px center;
	--banner-pos-completed: 115px center;
	--banner-pos-onhold: 85px center;
	--banner-pos-dropped: 570px center;
	--banner-pos-planned: 670px center;
	
	/* Colours
	 * Any CSS colours are valid.
	 */
	
	--bg-dark: #000d07;
	--bg-common: #001a0e;
	--bg-tint: #00150b;
	--bg-input: #012f1a;
	--border-accent: #d60025;
	--list-bg: rgba(0,0,0,0.5);
	
	--text-highlight: #fff;
	--text-bright: #fff600;
	--text-common: #0cd693;
	--text-dark: #06754e;
	--text-paragraph: #ccc;
	
	/* Options
	 * image-dim(-h)
	 * min value: 0.0 / max value: 1.0
	 */
	
	--image-dim: 0.5;
	--image-dim-h: 0.9;
}

/* Left Slants */

.header:before, .header:after,
.header-info:before, .header-info:after,
.status-menu-container:before, .status-menu-container:after,
.data.progress:before, .data.chapter:before, .data.season:before, .data.tags:before,
.list-table > tbody:first-of-type:after
{
	content: "";
	position: absolute;
	bottom: 0;
	
	display: block;
	background: var(--bg-dark);
	
	transform: skew(30deg);
	box-shadow: -2px 1px 0 1px var(--border-accent);
}

/* Right Slants */

.header:after,
.header-info:after,
.status-menu-container:after
{
	transform: skew(-30deg);
	box-shadow: 2px 1px 0 1px var(--border-accent);
}





/*==============================*\
  !PAGE-BASE
\*==============================*/

body { background: #000 var(--background-img) no-repeat center top / 2100px auto scroll !important; }

@media (min-width: 2101px) {
	body { background: #000 var(--background-img-hd) no-repeat center top / 100% auto scroll !important; }
}

.list-container {
	width: 100%;
	min-width: 1056px;
	background: none !important;
	border: none !important;
}

.list-block {
	background: var(--list-bg);
	margin: 0 !important;
}

.list-unit {
	width: 100% !important;
}

.list-table {
	display: block;
	width: 1056px;
	padding: 6px 0;
	border: none !important;
}


a:hover {
	text-decoration: none !important;
}

/* Remove Tutorial/Notices */
.initialize-tutorial { display: none !important; }





/*==============================*\
  !HEADER
\*==============================*/

.status-menu-container {
	position: fixed;
	top: 0;
	left: calc(50% - 522px);
	
	width: 1044px;
	height: 64px;
	border: none !important;
	background: var(--bg-dark);
	
	box-shadow: 0 1px 0 1px var(--border-accent);
	z-index: 10;
}

.status-menu-container:before, .status-menu-container:after {
	width: 36px;
	height: 64px;
}

.status-menu-container:before { left: -18px; }
.status-menu-container:after { right: -18px; }

.status-menu-container .status-menu, .list-menu-float {
	display: block;
	width: 346px;
	height: 48px;
	padding: 8px 0;
	border: none;
	margin: 0;
	
	font-size: 0;
	text-align: left;
}

.list-menu-float {
	top: 0;
	right: calc(50% - 528px);
	z-index: 20;
}

.status-menu-container .status-menu {
	position: relative;
	left: -6px;
}

.status-menu-container .status-menu:before, .status-menu-container .status-menu:after, .list-menu-float:before, .list-menu-float:after {
	content: "";
	position: absolute;
	top: 6px;
	
	display: block;
	width: 7px;
	height: 52px;
	background-color: var(--text-bright);
}

.status-menu-container .status-menu:before, .list-menu-float:before { left: 116px; }
.status-menu-container .status-menu:after, .list-menu-float:after { right: 116px; }

.status-menu-container .status-menu:before, .status-menu-container .status-menu:after { transform: skew(30deg); }
.list-menu-float:before, .list-menu-float:after { transform: skew(-30deg); }



/*------------------------------*\
  HEADER @Logo
\*------------------------------*/

.header {
	position: fixed;
	top: 0;
	left: calc(50% - 150px);
	
	width: 300px;
	height: 112px;
	background: var(--bg-dark);
	
	z-index: 15;
}

.header:before, .header:after {
	width: 170px;
	height: 48px;
}

.header:before { left: -18px; }
.header:after { right: -18px; }

.header .header-title {
	top: 3px;
	left: -6px;
	
	width: 312px;
	height: 120px;
	background: var(--logo-img) no-repeat center center / contain scroll;
	
	transition: transform 0.3s cubic-bezier(0.32,0.05,0.48,1);
	z-index: 1;
}

.header .header-title:hover {
	transform: scale(0.975);
}



/*------------------------------*\
  HEADER @Nav&User-Icons
\*------------------------------*/

.status-menu-container .status-menu .status-button, .list-menu-float .icon-menu {
	display: inline-block;
	width: 100px;
	height: 18px;
	padding: 3px 0;
	margin: 0;
	background: none !important;
	
	color: var(--text-bright);
	font: normal 0 "Carrois Gothic SC" !important;
	text-align: center;
	text-transform: uppercase;
	
	transition: color 0.075s cubic-bezier(0.32,0.05,0.48,1);
}

.list-menu-float form { 
	display: inline-block;
}

.status-menu-container .status-menu .status-button.on, .status-menu-container .status-menu .status-button:hover, .list-menu-float .icon-menu:hover { color: var(--text-highlight); }

.status-menu-container .status-menu .status-button:not(:nth-of-type(3n)), .icon-menu:not(:nth-of-type(3n))
{ margin-right: 15px; }
.status-menu-container .status-menu .status-button:nth-of-type(4), .icon-menu:nth-of-type(1)
{ margin-left: 15px; }

.status-menu-container .status-menu .status-button:nth-of-type(3n+1), .icon-menu:nth-of-type(3n+1)
{ text-align: right; }
.status-menu-container .status-menu .status-button:nth-of-type(3n), .icon-menu:nth-of-type(3n)
{ text-align: left; }

.status-menu .status-button:before, .icon-menu:before { font-size: 14px; }

.status-menu .status-button.all_anime:before { content: "All Anime"; }
.manga .status-menu .status-button.all_anime:before { content: "All Manga"; }
.status-menu .status-button.watching:before { content: "Watching"; }
.status-menu .status-button.reading:before { content: "Reading"; }
.status-menu .status-button.completed:before { content: "Completed"; }
.status-menu .status-button.onhold:before { content: "On Hold"; }
.status-menu .status-button.dropped:before { content: "Dropped"; }
.status-menu .status-button.plantowatch:before, .status-menu .status-button.plantoread:before { content: "Planned"; }

.icon-menu.profile:before { content: "Profile"; }
.icon-menu.quick-add:before { content: "Quick Add"; }
.icon-menu.anime-list:before { content: "Animelist"; }
.icon-menu.manga-list:before { content: "Mangalist"; }
.icon-menu.history:before { content: "History"; }
.icon-menu.logout:before { content: "Logout"; }

.status-menu .status-button:after { display: none !important; }



/*------------------------------*\
  HEADER @Subnav-R
\*------------------------------*/

body[data-owner="1"] .icon-menu.export, body[data-owner="1"] .icon-menu.setting {
	position: absolute;
	top: 66px;
	
	width: 55px !important;
	height: 22px;
	margin: 0;
	
	color: var(--text-common);
	line-height: 22px !important;
	text-align: center;
}

body[data-owner="1"] .icon-menu.setting:hover, body[data-owner="1"] .icon-menu.export:hover { color: var(--text-highlight); }

body[data-owner="1"] .icon-menu.export { left: -4px; }
body[data-owner="1"] .icon-menu.export:before {
	content: "Export";
	font-size: 12px;
}

body[data-owner="1"] .icon-menu.setting { left: 51px; }
body[data-owner="1"] .icon-menu.setting:before {
	content: "SETTINGS";
	font-size: 12px;
}

body[data-owner="1"] .icon-menu.setting .text {
	position: absolute;
	top: 28px !important;
	right: 0 !important;
	left: auto !important;
	
	display: block;
	width: 10px !important;
	height: 0 !important;
	
	opacity: 1 !important;
	overflow: visible;
}

body[data-owner="1"] .list-menu-float .icon-menu.setting .text a {
	position: absolute;
	left: auto !important;
	
	display: block !important;
	
	width: 100px !important;
	height: 20px !important;
	padding: 2px 12px 0 !important;
	border: none !important;
	background: var(--bg-common) content-box !important;
	
	color: var(--text-common) !important;
	font: 11px/20px "Carrois Gothic SC" !important;
	text-align: center !important;
	
	opacity: 0;
	transition-property: opacity, color;
	transition-timing-function: cubic-bezier(0.32,0.05,0.48,1);
	pointer-events: none;
}

body[data-owner="1"] .list-menu-float .icon-menu.setting:hover .text a {
	opacity: 1;
	pointer-events: auto;
}

body[data-owner="1"] .list-menu-float .icon-menu.setting .text a:hover { color: var(--text-highlight) !important; }

body[data-owner="1"] .list-menu-float .icon-menu.setting .text a:first-of-type {
	top: 0px !important;
	right: 0px !important;
	transition-duration: 0.15s, 0.075s;
}

body[data-owner="1"] .list-menu-float .icon-menu.setting .text a:nth-of-type(2) {
	top: 22px !important;
	right: 12px !important;
	transition-duration: 0.3s, 0.075s;
}

body[data-owner="1"] .icon-menu.setting a:before, body[data-owner="1"] .icon-menu.setting a:after {
	content: "";
	
	position: absolute;
	top: 2px;
	
	display: block;
	width: 12px;
	height: 20px;
	background: var(--bg-common) !important;
	
	transform: skew(-30deg);
	z-index: -1;
}

body[data-owner="1"] .icon-menu.setting a:before {
	left: 6px;
}

body[data-owner="1"] .icon-menu.setting a:after {
	right: 6px;
}



/*------------------------------*\
  HEADER @Subnav-R-Search
\*------------------------------*/

.search-container {
	position: absolute;
	top: 66px;
	left: 800px;
	
	width: 130px;
	height: 28px;
	background: var(--bg-common);
	box-shadow: 0 1px 0 1px var(--border-accent);
}

.search-container:after {
	content: "";
	
	position: absolute;
	top: 0;
	right: -9px;
	
	display: block;
	width: 18px;
	height: 28px;
	background: var(--bg-common);
	
	transform: skew(-30deg);
	box-shadow: 2px 1px 0 1px var(--border-accent);
}

.search-container:before {
	content: "";
	position: absolute;
	top: 3px;
	left: 22px;
	
	display: block;
	width: 80px;
	height: 22px;
	background: var(--bg-input);
	
	transform: skew(-30deg);
}

.status-menu-container .search-container #search-box {
	position: absolute;
	top: 0px;
	left: 24px;
	width: 76px !important;
	height: 22px;
	padding: 3px 0;
	margin: 0;
	
	overflow: visible;
}

.status-menu-container .search-container #search-box input {
	padding: 1px 2px;
	border: none;
	background: none;
	
	color: var(--text-common);
	
	z-index: 1;
}

.status-menu-container .search-container #search-box input:focus { outline: none; }

.status-menu-container .search-container #search-button {
	position: absolute;
	top: 3px;
	right: 0;
	
	width: 22px;
	height: 22px;
	margin: 0;
	
	color: var(--text-common) !important;
	font-size: 20px;
	
	cursor: default;
	z-index: 1;
}

.list-menu-float .icon-menu .icon { display: none; }
.list-menu-float .icon-menu:not(.profile):hover {
	width: 100px;
}

.icon-menu.logout {
	text-align: left;
	margin: 0;
}



/*------------------------------*\
  HEADER @Subnav-R-Non-Owner
\*------------------------------*/

.header .header-menu {
	position: fixed;
	top: 0 !important;
	right: calc(50% - 528px);
	
	display: block;
	width: 346px;
	height: 48px;
	padding: 8px 0;
	
	z-index: -1;
}

.btn-menu {
	position: absolute;
	top: 66px;
	left: -24px;
	
	width: 130px;
	height: 28px;
	background: var(--bg-common);
	box-shadow: -1px 1px 0 1px var(--border-accent);
	
	font-size: 0 !important;
}

.list-menu {
	position: absolute;
	top: 66px !important;
	left: -24px;
	right: auto !important;
	
	display: block !important;
	width: 130px;
	height: 0;
	border: none !important;
	
	box-shadow: none !important;
}

.btn-menu .username, .list-menu .manga-list, .list-menu .anime-list {
	position: absolute;
	top: 0;
	
	display: block !important;
	width: 55px !important;
	height: 28px !important;
	margin: 0 !important;
	
	color: var(--text-common) !important;
	font: normal 0/28px "Carrois Gothic SC" !important;
	text-align: center !important;
	text-transform: uppercase;
	
	cursor: pointer;
	z-index: 1;
	transition: color 0.075s cubic-bezier(0.32,0.05,0.48,1) !important;
}

body[data-owner="1"] .btn-menu .username {
	display: none !important;
}

.btn-menu .username:hover, .list-menu .manga-list:hover, .list-menu .anime-list:hover {
	color: var(--text-highlight) !important;
	background: none !important;
}

.btn-menu .username {
	right: 55px;
}

.list-menu .manga-list, .list-menu .anime-list {
	right: 0;
}

.btn-menu .username:before {
	content: "Profile";
	
	font-size: 12px;
}

.list-menu .icon-menu.manga-list:before {
	content: "Manga";
	
	font-size: 12px;
}

.list-menu .icon-menu.anime-list:before {
	content: "Anime";
	
	font-size: 12px;
}

.list-menu .manga-list svg, .list-menu .anime-list svg {
	display: none !important;
}

.btn-menu:hover .username, .btn-menu:hover ~ .list-menu .manga-list {
	opacity: 1;
	pointer-events: auto;
}



/*------------------------------*\
  HEADER @Subnav-L-Sort-by
\*------------------------------*/

.list-table > tbody:first-of-type {
	position: fixed;
	top: 66px;
	left: calc(50% - 288px - 55px);
	
	display: block !important;
	width: 55px;
	height: 28px;
	padding-right: 8px;
	background: var(--bg-common);
	
	text-align: center;
	
	box-shadow: 0 1px 0 1px var(--border-accent);
	z-index: 5;
}

.list-table > tbody:first-of-type:before {
	content: "SORT";
	
	color: var(--text-common);
	font: 12px/28px "Carrois Gothic SC";
	
	transition: color 0.075s cubic-bezier(0.32,0.05,0.48,1);
}

.list-table > tbody:first-of-type:hover:before { color: var(--text-highlight); }

.list-table > tbody:first-of-type:after {
	left: -9px;
	
	width: 18px;
	height: 28px;
	background: var(--bg-common) !important;
	
	z-index: -1;
}

.list-table-header {
	position: absolute;
	top: 28px;
	left: 0;
	
	display: block;
}

.list-table-header .header-title {
	position: absolute;
	
	display: block !important;
	
	width: auto !important;
	height: auto !important;
	padding: 2px 0 0 !important;
	border: none !important;
	background: none !important;
	
	line-height: 20px;
	text-align: center !important;
	
	opacity: 0;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.32,0.05,0.48,1);
	pointer-events: none;
}

.list-table > tbody:first-of-type:hover .header-title {
	opacity: 1;
	pointer-events: auto;
}

.header-title.title {
	top: 0px;
	left: 0px;
	transition-duration: 0.15s;
}

.header-title.score {
	top: 22px;
	left: 12px;
	transition-duration: 0.3s;
}

.header-title.progress, .header-title.chapters {
	top: 44px;
	left: 24px;
	transition-duration: 0.45s;
}

.header-title.volumes {
	top: 66px;
	left: 36px;
	transition-duration: 0.6s;
}

.list-table-header .header-title a {
	width: 100px;
	height: 20px;
	padding: 0 12px;
	background: var(--bg-common) content-box;
	
	color: var(--text-common) !important;
	font: normal 11px/20px "Carrois Gothic SC";
	text-transform: uppercase;
	
	transition: color 0.075s cubic-bezier(0.32,0.05,0.48,1) !important;
}

.list-table-header .header-title a:hover {
	color: var(--text-highlight) !important;
}

.list-table-header .header-title a:before, .list-table-header .header-title a:after {
	content: "";
	
	position: absolute;
	top: 0;
	
	display: block;
	width: 12px;
	height: 20px;
	background: var(--bg-common) !important;
	
	transform: skew(30deg);
	z-index: -1;
}

.list-table-header .header-title a:before { left: 6px; }
.list-table-header .header-title a:after { right: 6px; }

.list-table-header .header-title a .sort-icon {
	position: absolute;
	
	height: 12px;
	
	font-size: 12px;
	line-height: 12px;
	color: var(--text-bright) !important;
}

.sort-icon.fa-sort-asc { left: 12px; top: 6px; }
.sort-icon.fa-sort-desc { right: 12px; bottom: 6px; }



/*------------------------------*\
  HEADER @Subnav-L-BTNs
\*------------------------------*/

.list-unit .list-status-title .stats {
	position: fixed;
	top: 66px;
	left: calc(50% - 288px);
	
	width: 130px;
	height: 28px;
	background: var(--bg-common);
	
	z-index: 7;
	box-shadow: 1px 1px 0 1px var(--border-accent);
}

.list-unit .list-status-title .stats a {
	position: absolute;
	top: 0;
	
	width: 55px;
	
	color: var(--text-common);
	font: 12px/28px "Carrois Gothic SC";
	text-align: center;
	text-transform: uppercase;
	
	z-index: 1;
	transition: color 0.075s cubic-bezier(0.32,0.05,0.48,1);
}

#show-stats-button { left: 0; }
#advanced-options-button { left: 55px; }

.stats a i { display: none; }

.list-unit .list-status-title .stats a:hover {
	color: var(--text-highlight);
	transition: color 0.075s cubic-bezier(0.32,0.05,0.48,1);
}

.list-unit .list-stats {
	width: 100%;
	margin-top: -15px;
	background: var(--bg-dark);
	
	color: var(--text-common);
	font-family: "Open Sans";
}



/*------------------------------*\
  HEADER @Log-in/Affinity
\*------------------------------*/

.header .header-menu .header-info {
	position: fixed;
	top: calc(50% + 196px);
	left: 0;
	
	width: 340px;
	height: 24px;
	background: var(--bg-dark);
	box-shadow: 0px 1px 0 1px var(--border-accent);
	margin: 0;
	
	color: var(--text-common);
	font: 14px/24px "Carrois Gothic SC";
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	
	transform: rotate(-90deg);
	transform-origin: left top;
}

.header-info:before, .header-info:after {
	width: 13px;
	height: 24px;
}

.header-info:before { left: -6px; }
.header-info:after { right: -6px; }

.header .header-info a {
	display: inline-block;
	width: auto;
	height: 16px;
	margin: 0px;
	
	color: var(--text-bright);
	font: normal 14px/16px "Carrois Gothic SC";
	
	transition: color 0.075s cubic-bezier(0.32, 0.05, 0.48, 1);
}

.header .header-info a:hover {
	color: var(--text-highlight);
}





/*==============================*\
  !COVER
\*==============================*/

.cover-block {
	position: relative;
	
	width: 100%;
	min-width: 1056px;
	height: 430px;
	padding-top: 64px;
	
	overflow: hidden;
}

.cover-block .image-container {
	position: absolute;
	left: calc(50% - 625px);
	
	width: 1250px;
	height: 430px;
	padding: 0;
	
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 115px center;
	background-attachment: scroll;
}

/* Selector is separate to fix display on Firefox, do not remove. */
#list-container #cover-image-container {
	display: block !important;
}

[data-query*="\"status\":7"] .image-container { background-image: var(--banner-img-all); background-position: var(--banner-pos-all); }
[data-query*="\"status\":1"] .image-container { background-image: var(--banner-img-current); background-position: var(--banner-pos-current); }
[data-query*="\"status\":2"] .image-container { background-image: var(--banner-img-completed); background-position: var(--banner-pos-completed); }
[data-query*="\"status\":3"] .image-container { background-image: var(--banner-img-onhold); background-position: var(--banner-pos-onhold); }
[data-query*="\"status\":4"] .image-container { background-image: var(--banner-img-dropped); background-position: var(--banner-pos-dropped); }
[data-query*="\"status\":6"] .image-container { background-image: var(--banner-img-planned); background-position: var(--banner-pos-planned); }

#cover-image, .btn-list-setting { display: none !important; }


/* List Header */

.list-unit .list-status-title {
	position: static;
	
	width: 100%;
	min-width: 1050px;
	height: 64px;
	background: var(--bg-dark);
}

.list-unit .list-status-title .text {
	width: 100%;
	
	color: var(--text-bright);
	font-family: "Carrois Gothic SC";
	letter-spacing: 1px;
}





/*==============================*\
  !LIST
\*==============================*/

.list-item {
	display: inline-block !important;
	width: 340px;
	margin: 6px;
	background: var(--bg-common) !important;
	
	vertical-align: top;
}

.list-table-data {
	position: relative;
	
	display: block;
	width: 340px;
	height: 100px;
	
	overflow: hidden;
	
	font-size: 0;
	text-align: left;
	white-space: nowrap;
	
	z-index: 1;
}

/* Remove Unwanted Columns */
.list-table-header .header-title:not(.title):not(.score):not(.progress):not(.chapters):not(.volumes),
.data:not(.title):not(.score):not(.progress):not(.chapter):not(.volume):not(.image):not(.season):not(.studio):not(.tags)
{ display: none !important; }

/* List Dimming */

.list-table-data:before {
	content: "";
	position: absolute;
	top: 50px;
	left: 0;
	
	display: block;
	width: 340px;
	height: 50px;
	background: var(--bg-tint);
	
	z-index: -1;
}


/* List Item Information */

.data {
	padding: 0 !important;
	border: none !important;
	
	vertical-align: top !important;
}

.list-table .list-table-data .data a { color: var(--text-common) !important; }

.data a { transition: color 0.075s cubic-bezier(0.32, 0.05, 0.48, 1); }

.list-table .list-table-data a:not(.edit-disabled):hover {
	color: var(--text-bright) !important;
}


/* Slants Between Items */

.data.progress:before, .data.chapter:before, .data.season:before, .data.tags:before {
	left: -1px;
	
	width: 2px;
	height: 50px;
	
	box-shadow: none;
}


/* - - - - - - - - - - - - - - -*\
  Loading Icon
\*- - - - - - - - - - - - - - - */

.list-unit .loading-space {
	height: auto;
	margin: 0;
}

.list-unit .loading-space i {
	width: 20px;
	margin: 0 auto 12px;
}


/* - - - - - - - - - - - - - - -*\
  Empty Table Message
\*- - - - - - - - - - - - - - - */

.list-table[data-items="[]"] { text-align: center; }

.list-table[data-items="[]"]:before, .list-table[data-items="[]"]:after {
	position: relative;
	
	display: inline-block;
	width: 550px;
}

.list-table[data-items="[]"]:before {
	content: "";
	
	height: 48px;
	background: var(--bg-dark);
	margin-top: 26px;
	
	transform: skew(30deg);
}

.list-table[data-items="[]"]:after {
	content: "No entries found. Perhaps your search terms are too restrictive?";
	
	padding: 16px;
	margin-top: -48px;
	
	color: var(--text-common);
	font: 16px/16px "Open Sans";
	
	z-index: 1;
}



/*------------------------------*\
  LIST @Status
\*------------------------------*/

.data.title .link:before {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-right: 2px;
	
	font: 12px/12px "FontAwesome";
	text-align: center;
}

.data.completed ~ .title .link:before { content : "\f00c"; }
.data.onhold ~ .title .link:before { content : "\f017"; }
.data.dropped ~ .title .link:before { content : "\f00d"; }
.data.plantowatch ~ .title .link:before, .data.plantoread ~ .title .link:before { content: "\f02e"; }



/*------------------------------*\
  LIST @Image
\*------------------------------*/

.data.image {
	position: absolute;
	top: 0;
	left: 0;
	
	width: 70px;
	height: 100px;
	background: var(--bg-dark);
}

.data.image .link {
	width: 68px;
	height: 98px;
	margin: 1px;
	
	overflow: hidden;
}

.data.image .image {
	width: 70px !important;
	height: 98px !important;
	border: none !important;
	margin-left: -1px;
}



/*------------------------------*\
  LIST @Title
\*------------------------------*/

.data.title {
	display: block !important;
	width: calc(340px - 78px);
	height: 46px;
	padding: 2px 4px 2px 74px !important;
}

.data.title .link.sort {
	position: relative;
	
	display: inline-block;
	max-width: 100%;
	max-height: 45px;
	
	font: bold 11px/15px "Open Sans" !important;
	
	overflow: hidden;
	white-space: normal;
	
	transition: all 0.075s cubic-bezier(0.32,0.05,0.48,1);
	z-index: 1;
}


.icon-watch { display: none !important; }


.content-status, .rewatching {
	position: absolute;
	top: 60px;
	left: 90px;
	
	display: block;
	width: 60px;
	height: 30px;
	
	color: var(--text-dark) !important;
	font: 9px/15px Open Sans !important;
	text-align: center;
	text-indent: 10px;
	text-transform: uppercase;
	white-space: normal;
	
	transform: rotate(60deg);
}

.manga .content-status { font-size: 8px !important; }

.rewatching { font-size: 0 !important; }

.rewatching:before { content: "Rewatch"; font-size: 9px !important; }



/*------------------------------*\
  LIST @Add-Edit-More
\*------------------------------*/

.add-edit-more {
	position: absolute;
	top: 1px;
	left: 1px;
	
	width: 68px;
	height: 98px;
	text-align: center;
	font-size: 0 !important;
	
	transition: all 0.2s cubic-bezier(0.32,0.05,0.48,1);
}

.add-edit-more:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;
	background: var(--bg-dark);
	
	opacity: var(--image-dim);
	transition: inherit;
}

.add-edit-more:hover:before {
	opacity: var(--image-dim-h);
}

.add-edit-more span { position: static !important; }

.add-edit-more a {
	position: absolute;
	left: 0;
	
	display: block;
	width: 70px !important;
	height: 20px;
	
	color: var(--text-common) !important;
	font: 11px/20px "Open Sans" !important;
	text-transform: uppercase;
	
	transition-property: color, opacity;
	transition-duration: 0.075s, 0.2s;
	transition-timing-function: cubic-bezier(0.32,0.05,0.48,1);
	opacity: 0;
}

.add-edit-more:hover a {
	opacity: 1;
}

.add-edit-more .edit a, .add-edit-more .add a { top: 30px; }
.add-edit-more .more a { top: 50px; }



/*------------------------------*\
  LIST @Score
\*------------------------------*/

.data.score {
	position: relative;
	
	display: inline-block !important;
	width: 50px;
	height: 50px;
	margin-left: 70px;
	z-index: 1;
}

.data.score a.link { font: bold 16px/50px "Carrois Gothic SC" !important; }

.data.score select { margin: 15px 10px 15px 0; }

.data.score select, .data.score select option {
	width: 40px;
	height: 20px;
	border: none !important;
	background: var(--bg-tint);
	outline-color: var(--text-common) !important;
	
	color: var(--text-common);
	font-family: "Carrois Gothic SC";
}



/*------------------------------*\
  LIST @Progress
\*------------------------------*/

.data.progress, .data.chapter, .data.volume {
	position: relative;
	
	display: inline-block !important;
	width: auto;
	height: 20px;
	padding: 15px 21px !important;
	
	text-align: left;
	font-size: 0;
}

.data.volume { padding-left: 0 !important; }

.data.chapter div:before, .data.volume div:before {
	margin-right: 3px;
	
	color: var(--text-common);
	font: 10px/15px "Open Sans";
	
	opacity: 0.5;
}

.data.chapter div:before { content: "C"; }
.data.volume div:before { content: "V"; }

.data.progress span:nth-of-type(1), .data.chapter span:nth-of-type(1), .data.volume span:nth-of-type(1) { margin-right: 7px; }

.data.progress span:only-of-type, .data.progress span .link, .data.progress span:nth-of-type(2),
.data.chapter span:only-of-type, .data.chapter span .link, .data.chapter span:nth-of-type(2),
.data.volume span:only-of-type, .data.volume span .link, .data.volume span:nth-of-type(2) {
	position: relative;
	
	margin: 0;
	
	color: var(--text-common) !important;
	font: 14px/21px "Carrois Gothic SC";
}

/* Slash Number Divider */

.data.progress span:nth-of-type(2):before,
.data.chapter span:nth-of-type(2):before,
.data.volume span:nth-of-type(2):before {
	content: "";
	position: absolute;
	top: 0;
	left: -4px;
	
	width: 1px;
	height: 17px;
	background: var(--text-common);
	
	transform: skew(10deg);
}

.data.progress span input, .data.chapter span input, .data.volume span input {
	width: 24px !important;
	height: 18px;
	padding: 1px !important;
	background: var(--bg-tint);
	border: none !important;
	outline-color: var(--text-common) !important;
	
	color: var(--text-common);
	font-family: "Carrois Gothic SC";
}


/* Add Episode Icon */

.data [class^="icon-add-"] {
	display: inline-block;
	margin: 5px 0 0 3px;
	
	font-size: 10px;
	line-height: 10px;
	vertical-align: top;
}

.data [class^="icon-add-"] i:before {
	content: "\f067";
	
	color: var(--text-dark);
	
	transition: color 0.075s cubic-bezier(0.32, 0.05, 0.48, 1);
}

.data [class^="icon-add-"]:hover i:before {
	color: var(--text-common);
}



/*------------------------------*\
  LIST @Season-&-Studio
\*------------------------------*/

.data.season:before {
	top: -9px;
	left: 9px;
}

.data.season, .data.studio {	
	display: inline-block !important;
	width: 150px;
	height: 16px;
	padding: 0 21px !important;
	
	font: 9px/16px "Open Sans";
	text-align: left !important;
}

/* Season */

.data.season {
	position: relative;
	
	margin: 9px 0 0 -9px;
}

/* Studio */

.data.studio {
	margin: 25px 0 0 -183px;
}

.data.studio:after {
    content: "";
    position: absolute;
    top: 50px;
    right: 20px;

    display: block;
    width: 15px;
    height: 50px;
    background: linear-gradient(to right, transparent, var(--bg-tint) 80%);
	
    transform: skew(30deg);
}



/*------------------------------*\
  LIST @Tags
\*------------------------------*/

.data.tags {
	position: absolute;
	top: 50px;
	right: 0;
	
	display: flex !important;
	width: 0;
	height: 50px;
	padding: 0 0 0 7px !important;
	background: var(--bg-tint);
	
	justify-content: center;
	flex-direction: column;
	
	transition: width 0.2s cubic-bezier(0.32,0.05,0.48,1);
	z-index: 1;
}

.data.tags:hover { width: 200px; }

.data.tags:before {
	left: -14px;
	
	width: 30px;
	height: 50px;
	border-left: 2px solid var(--bg-dark);
	background: var(--bg-tint);
	
	z-index: -1;
}

.data.tags:after {
	content: "\f02c";
	position: absolute;
	top: 20px;
	left: -7px;
	
	color: var(--text-dark);
	font: 10px/10px "FontAwesome";
	
	transition: color 0.2s cubic-bezier(0.32,0.05,0.48,1);
}

.data.tags:hover:after { color: var(--text-common); }

.data.tags div {
	display: inline-block;
	width: 0;
	max-height: 42px;
	padding: 4px 0;
	
	font: 9px/14px "Open Sans";
	text-align: left;
	letter-spacing: -5.5px;
	white-space: normal;
	
	overflow: hidden;
	transition: all 0.2s cubic-bezier(0.32,0.05,0.48,1);
}

.data.tags:hover div {
	width: 185px;
	letter-spacing: 0;
}

.data.tags div span {
	color: var(--text-common);
	vertical-align: middle !important;
}

/* Edit Button */

.data.tags .edit {
	position: absolute;
	top: 0;
	right: 0;
	
	width: 15px !important;
	height: 50px;
	
	font-size: 0 !important;
	color: var(--text-common);
	
	opacity: 0;
	pointer-events: none;
	transition: all 0.2s cubic-bezier(0.32,0.05,0.48,1);
}

.data.tags:hover .edit {
	opacity: 1;
	pointer-events: auto;
}

.data.tags .edit:after {
	content: "\f040";
	
	color: var(--text-dark);
	font: 10px/50px "FontAwesome";
	
	transition: inherit;
}

.data.tags .edit:hover:after {
	color: var(--text-common);
}

/* Edit Tags Text Area */

.data.tags textarea {
	position: absolute;
	top: 0;
	right: 0;
	
	width: 271px !important;
	height: 50px !important;
	padding: 2px 3px;
	background: var(--bg-input);
	border: 1px solid var(--bg-tint);
	outline-color: var(--text-bright) !important;
	margin: 0;
	
	color: var(--text-common);
	font-size: 11px !important;
	
	resize: none;
	z-index: 1;
}



/*------------------------------*\
  LIST @More-Info
\*------------------------------*/

.more-info {
	border: none !important;
	
	font-family: "Open Sans";
	text-align: left;
}

.more-info .td1.borderRBL {
	color: var(--text-paragraph);
}

.more-info a {
	color: var(--text-common) !important;
	
	transition: color 0.075s cubic-bezier(0.32, 0.05, 0.48, 1);
}

.more-info a:hover {
	color: var(--text-bright) !important;
}





/*==============================*\
  !OVERLAYS
\*==============================*/

#fancybox-overlay {
	background: #000 !important;
	opacity: 0.6 !important;
}

#fancybox-outer {
	background: var(--bg-common) !important;
}

a#fancybox-close {
	background: var(--text-common);
	border-radius: 50%;
	
	text-align: center;
	line-height: 32px;
	
	transition: all 0.2s cubic-bezier(0.32,0.05,0.48,1);
}

#fancybox-outer #fancybox-close {
	top: -11px;
	right: -11px;
}

#advanced-options #fancybox-close {
	top: -16px;
	right: calc(50% - 375px);
}

a#fancybox-close:hover {
	background: var(--text-bright);
}

a#fancybox-close:before {
	content: "\f00d";
	
	color: var(--bg-common);
	font: 24px/30px "FontAwesome";
}



/*------------------------------*\
  OVERLAYS @Filter-Menu
\*------------------------------*/

#advanced-options {
	width: 100%;
	min-width: 1056px;
	padding: 30px 0 30px 0;
	background: var(--bg-common);
	border: none;
	
	font-family: "Open Sans";
}


/* - - - - - - - - - - - - - - -*\
  Headers
\*- - - - - - - - - - - - - - - */

#advanced-options .advanced-options-header {
	border-color: var(--text-common);
	border-width: 2px;
	
	color: var(--text-highlight);
	font: 16px "Carrois Gothic SC";
	text-transform: uppercase;
}

#advanced-options .advanced-options-header .description {
	font: 12px "Open Sans";
	color: var(--text-paragraph);
}


/* - - - - - - - - - - - - - - -*\
  Items
\*- - - - - - - - - - - - - - - */

#advanced-options .filter-widget span, #advanced-options .sort-widget span {
	color: var(--text-highlight);
	font-family: "Open Sans" !important;
}

#advanced-options select, #advanced-options option { background-image: url(/img/pc/ownlist/icon_pulldown_triangle_disable.png); }

#advanced-options select, #advanced-options option, #advanced-options input[type=text] {
	background-color: var(--bg-input);
	border-color: var(--bg-input);
	outline-color: var(--text-bright);
	
	color: var(--text-common);
}

#advanced-options select:disabled {
	opacity: 0.6;
}



/* Sort Labels */

#advanced-options .sort-widget input[type=radio] + label {
	padding: 4px 0;
	background: var(--text-dark) !important;
	border: none !important;
	border-radius: 5px;
	margin-right: 5px;
	
	color: var(--bg-common) !important;
	
	transition: all 0.2s cubic-bezier(0.32,0.05,0.48,1);
}

#advanced-options .sort-widget input[type=radio]:disabled + label { opacity: 0.6; }

#advanced-options .sort-widget input[type=radio]:not(:disabled) + label:hover {
	background: var(--text-bright) !important;
}

#advanced-options .sort-widget input[type=radio]:checked + label {
	background: var(--text-common) !important;
}

#advanced-options .sort-widget input[type=radio]:disabled + label {
	background: var(--bg-tint) !important;
	
	color: var(--text-common) !important;
}


/* - - - - - - - - - - - - - - -*\
  Action Buttons
\*- - - - - - - - - - - - - - - */

#advanced-options .advanced-options-button {
	width: 100%;
	padding: 0;
	border-width: 0;
	background: var(--bg-tint);
}

#advanced-options .advanced-options-button a {
	position: relative;
	
	height: 20px;
	background: var(--text-common);
	border-radius: 0;
	margin: 15px;
	
	color: var(--bg-common);
	text-transform: uppercase;
	font: 16px "Carrois Gothic SC";
	
	transition: all 0.2s cubic-bezier(0.32,0.05,0.48,1);
}

.advanced-options-button a:before, .advanced-options-button a:after {
	content: "";
	
	position: absolute;
	top: 0;
	
	display: block;
	width: 18px;
	height: 32px;
	background: var(--text-common);
	
	transform: skew(-30deg);
	transition: all 0.2s cubic-bezier(0.32,0.05,0.48,1);
}

.advanced-options-button a:before { left: -9px; }
.advanced-options-button a:after { right: -9px; }

#advanced-options .advanced-options-button a:hover, .advanced-options-button a:hover:before, .advanced-options-button a:hover:after { background: var(--text-bright); }





/*==============================*\
  !FOOTER
\*==============================*/

#footer-block {
	min-width: 1050px;
	padding: 0;
	background: var(--bg-dark);
}

#copyright {
	padding: 17px;
	
	color: var(--text-common);
	font: 12px/16px "Open Sans";
	
	opacity: 0.5;
	transition: all 0.075s cubic-bezier(0.32, 0.05, 0.48, 1);
}

#copyright:hover { opacity: 1; }

#copyright:after { content: "List design by Valerio Lyndon."; }





/*==============================*\
  !MEDIA-QUERY-FIXES
\*==============================*/

@media (max-width: 1056px) {	
	body {
		background-position: -522px top !important;
	}
	
	.header,
	.header .header-menu,
	.status-menu-container,
	.list-menu-float,
	.list-table > tbody:first-of-type,
	.list-unit .list-status-title .stats
	{ position: absolute !important; }
	
	.header {
		left: 369px;
	}
	.header .header-menu {
		left: 332px;
		right: auto;
	}
	.status-menu-container {
		top: 0 !important;
		left: -3px;
	}
	.status-menu-container:after {
		right: -15px;
		transform: none;
	}
	.list-menu-float {
		left: 701px;
	}
	.list-table > tbody:first-of-type {
		top: 66px;
		left: 176px;
	}
	.list-unit .list-status-title .stats {
		top: 66px;
		left: 231px;
	}
}