/**
 * Light Theme
 * v1.0.0
 */

:root {
	/* Colour scheme property ensures correct scrollbar colours on modern browsers. Older browsers will probably still have a light scrollbar */
	color-scheme: light;
	
	/* core colours */
	--myanimelist-blue: #2e51a2;
	--neutral: #161516;
	
	/* status colours */
	--all-items: hsl(311, 40%, 51%);
	--current: hsl(125, 70%, 29.7%);
	--completed: hsl(223, 40%, 51.2%);
	--onhold: hsl(46, 60%, 32.45%);
	--dropped: hsl(359, 55%, 51.25%);
	--planned: hsl(0, 0%, 43.72%);
	
	/* variables that are the same across themes */
	--background: none;
	--background-image-opacity: 1;
	--auxiliary-background: url(https://files.catbox.moe/m0v1f6.webp);
	--auxiliary-background-image-opacity: 1;
	--cover: url(https://i.imgur.com/RAelPvJ.jpg);
	--cover-position: center bottom;
	--cover-shadow: rgba(0,0,0,0.38) 0 -3px 9px;
	--image-background: rgba(22,21,22,0.41);
	--image-text: #fff;
	--image-shadow: 0 1px 3px rgba(0,0,0,0.5);
	
	/*light-specific variables*/
	--page-background: #fbfbfb;
	--content-background: #fff;
	--content-highlight: #eeeaee;
	--button: var(--content-highlight);
	--border: #cec8ce;
	--content-text: var(--neutral);
	--content-link: var(--myanimelist-blue);
	--inverse-background: var(--neutral);
	--inverse-text: #fff;
	--scroll-thumb: var(--border);

	--mild-shadow: rgba(255, 255, 255, 0.4) 0px 2px 6px, rgba(0, 0, 0, 0.2) 0px 3px 8px;
	--medium-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
	
	--auxiliary-background-image-opacity: .4;
}

/* Other tweaks */

#footer-block::before {
	filter: brightness(100);
}

/* END of Light Theme */