/*------------------------------*\
|*  Category-Coloured  Info BG  *|
|* - - - - -  V1.2.0  - - - - - *|
\* - - - - - - - - - - - - - - -*/

.data.status {
	display: none !important;
}

.data.watching ~ .title,
.data.reading ~ .title {
    background: hsla(var(--current), var(--infoBGOpacity));
} .data.completed ~ .title {
    background: hsla(var(--completed), var(--infoBGOpacity));
} .data.onhold ~ .title {
    background: hsla(var(--paused), var(--infoBGOpacity));
} .data.dropped ~ .title {
    background: hsla(var(--dropped), var(--infoBGOpacity));
} .data.plantowatch ~ .title,
.data.plantoread ~ .title {
    background: hsla(var(--planned), var(--infoBGOpacity));
}