/*------------------------------*\
|*  Per-Category Images v1.0.3  *|
\* - - - - - - - - - - - - - - -*/

.ownlist[data-query*='"status":7'] {
	/* All Anime */
	--background-image: url(URLHERE);
	--banner-image: url(URLHERE);
} .ownlist[data-query*='"status":1'] {
	/* Current */
	--background-image: url(URLHERE);
	--banner-image: url(URLHERE);
} .ownlist[data-query*='"status":2'] {
	/* Completed */
	--background-image: url(URLHERE);
	--banner-image: url(URLHERE);
} .ownlist[data-query*='"status":3'] {
	/* Paused */
	--background-image: url(URLHERE);
	--banner-image: url(URLHERE);
} .ownlist[data-query*='"status":4'] {
	/* Dropped */
	--background-image: url(URLHERE);
	--banner-image: url(URLHERE);
} .ownlist[data-query*='"status":6'] {
	/* Planned */
	--background-image: url(URLHERE);
	--banner-image: url(URLHERE);
}

/* Internals */

body.ownlist {
	background-image: var(--background-image);
}

#cover-image-container {
	display: block !important;
}

#cover-image-container::before {
	content: "";
	display: block;
	width: 100%;
	max-width: initial;
	height: inherit;
	background: var(--banner-image) center / cover;
}

/* Remove default image */
#cover-image {
	display: none;
}