/*------------------------------*\
|* - -  Light Theme V1.7.0  - - *|
\* - - - - - - - - - - - - - - -*/

/* User */

:root {
	--bg: 0, 0%, 100%;
	--bgAlt: 0, 0%, 92%;
	--btn: 240, 3%, 91%;
	--btnAlt: 240, 3%, 91%;
	--btnLight: 0, 0%, 0%, 0%;
	--btnAccent: 240, 70%, 87%;
	
	--text: 0, 0%, 10%;
	--textProminent: 27, 94%, 80%;
	--textLinkHov: 240, 50%, 80%;
	
	--goldRating: 27, 87%, 67%;
	--silverRating: 0, 0%, 80%;
	--bronzeRating: 23, 45%, 57%;
}

/* Internal */

:root {
	--arrowUp: url(https://files.catbox.moe/iph712.svg);
	--arrowRt: url(https://files.catbox.moe/4m6un3.svg);
	--arrowDn: url(https://files.catbox.moe/wb6rq1.svg);
	--arrowLt: url(https://files.catbox.moe/7xccvf.svg);
} [data-owner=""] {
	--arrowUp: url(https://i.imgur.com/PIvCNue.png);
	--arrowRt: url(https://i.imgur.com/t42REdK.png);
	--arrowDn: url(https://i.imgur.com/zpdE5s3.png);
	--arrowLt: url(https://i.imgur.com/luhyy72.png);
}

/* Scrollbars */

* {
	scrollbar-color: hsl(var(--btnAccent)) hsl(var(--bgAlt));
}

*::-webkit-scrollbar-thumb {
	background-color: hsl(var(--btnAccent));
} *::-webkit-scrollbar-thumb:hover {
	background-color: hsla(var(--btnAccent), 70%);
}

/* Backgrounds */

.header,
#status-menu.fixed {
	background: hsl(var(--bg));
}

/* Icons */

.list-menu-float:after,
.header .header-title,
.list-unit .loading-space i {
	filter: invert(0.785);
}

.list-container:before {
	filter: invert(0.785) opacity(0.35);
}

/* Buttons & Shadows */

#status-menu .search-container #search-box,
.list-unit .list-status-title .stats a,
.list-table > tbody:first-of-type:after,
body #fancybox-close,
#advanced-options .advanced-options-button a {
	box-shadow: none;
}

.list-table .list-table-header,
.data.image {
	box-shadow: none;
}

#status-menu .status-button {
	text-shadow: none;
}

/* Empty List Table */

.list-table[data-items="[]"]:before {
	background-image: url(https://i.imgur.com/OzsJEdu.png);
	background-blend-mode: darken;
}

.list-table[data-items="[]"]:after {
	background: none;
}

/* List Items */

.list-item {
	--btn: 240, 1.5%, 4.5%;
	--text: 0, 0%, 100%;
}

.data.image {
	background: hsl(240, 1.5%, 4.5%);
}

.content-status,
.rewatching {
	font-weight: bold;
	text-shadow:
		1px 0 1px #000,
		0 0 2px #000;
}

.score-10::after,
.score-9::after,
.score-8::after,
.more-content {
	--text: 0, 0%, 10%;
	color: hsl(var(--text)) !important;
}

/* Overlays */

#gdpr-modal-bottom {
	filter: none;
}

body #fancybox-frame {
	filter: none;
}

#advanced-options .sort-widget select:disabled,
#advanced-options .filter-widget select:disabled {
	background-blend-mode: darken;
}