/*------------------------------*\
        Light Theme V1.0.0
\* - - - - - - - - - - - - - - -*/

:root {
           --bg: 0, 0%, 100%;
        --bgAlt: 0, 0%, 92%;
          --btn: 240, 3%, 91%;
     --btnLight: 240, 3%, 87%;
    --btnAccent: 240, 70%, 87%;
       --border: 240, 3%, 91%;

   --textBright: 0, 0%, 10%;
      --textMid: 0, 0%, 22%;
      --textDim: 0, 0%, 30%;
--textProminent: 27, 94%, 80%;
  --textLinkHov: 240, 50%, 80%;
     --textIcon: 0, 0%, 26%;
	
	--arrowUp: url(https://files.catbox.moe/iph712.svg);
	--arrowRt: url(https://files.catbox.moe/4m6un3.svg);
	--arrowDn: url(https://files.catbox.moe/wb6rq1.svg);
	--arrowLt: url(https://files.catbox.moe/7xccvf.svg);
} [data-owner=""] {
	--arrowUp: url(https://i.imgur.com/PIvCNue.png);
	--arrowRt: url(https://i.imgur.com/t42REdK.png);
	--arrowDn: url(https://i.imgur.com/zpdE5s3.png);
	--arrowLt: url(https://i.imgur.com/luhyy72.png);
}

/* Scrollbars */

* {
	scrollbar-color: hsl(var(--btnAccent)) hsl(var(--bgAlt));
}

*::-webkit-scrollbar-thumb {
	background-color: hsl(var(--btnAccent));
} *::-webkit-scrollbar-thumb:hover {
	background-color: hsla(var(--btnAccent), 70%);
}

/* Backgrounds */

.header,
#status-menu.fixed {
	background: hsl(var(--bg));
}

/* Icons */

.list-menu-float:after,
.header .header-title,
.list-unit .loading-space i {
	filter: invert(0.785);
}

.list-container:before {
	filter:
		sepia(1)
		saturate(500)
		hue-rotate(calc(60deg + (180deg * 0.785)))
		opacity(.6)
		invert(0.785);
}

/* Buttons & Shadows */

#status-menu .search-container #search-box,
.list-unit .list-status-title .stats a,
.list-table > tbody:first-of-type:after,
body #fancybox-close,
#advanced-options .advanced-options-button a {
	background: hsl(var(--btn)) !important;
	box-shadow: none;
}

.data.image {
	box-shadow: none;
}

#status-menu .status-button {
	text-shadow: none;
}

/* List Items */

.list-item {
	--bg: 240, 1.5%, 4.5%;
	--textBright: 0, 0%, 100%;
	--textDim: 0, 0%, 80%;
	--textLinkHov: 240, 50%, 80%;
	--textIcon: 0, 0%, 83%;
}

.data.image {
	background: hsl(var(--bg));
}

.content-status, .rewatching {
	font-weight: bold;
	text-shadow: 1px 0 1px #000,
		0 0 2px #000;
}

.more-content {
	color: hsl(var(--textMid));
}

/* Other */

#advanced-options .sort-widget select:disabled,
#advanced-options .filter-widget select:disabled {
	background-blend-mode: darken;
}

#copyright {
	color: hsla(var(--textDim), 80%);
}

/* Readability Mod Tweaks */

.data.title {
	background: hsla(240, 1.5%, 4.5%, 50%) !important;
}