/*-S-T-A-R-T--------------------*\
| Character Renders R0.3         |
\*------------------------------*/

footer:before, footer:after {
	content: "";
	position: fixed;
	top: 0;
	z-index: -1;
	
	width: calc(50% - 538px);
	min-width: 262px;
	height: 100%;
	background: transparent no-repeat center bottom / contain scroll;
}

/* Left Render */
footer:before {
	right: calc(100% - (50% - 538px));
	
	background-image: url(URLHERE);
	background-position: left bottom;
}

/* Right Render */
footer:after {
	left: calc(100% - (50% - 538px));
	
	background-image: url(URLHERE);
	background-position: right bottom;
}

/*------------------------E-N-D-*/