/* "Clarity" Modification by Valerio Lyndon / Add Studios - Dark Mode Compat / Revision 0 */

/* Position Fixes */

.data.title {
	width: 522px;
}
.data.title .link.sort {
  max-width: 510px;
}
.data.type {
  margin-left: -548px;
}
.data.progress {
  margin-left: 448px;
}
.data.priority {
	margin-left: -432px;
}

/* Studio Styling */

.data.studio {
	width: 105px;
}
.data.studio a {
	text-decoration: none !important;
	
	-webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
.list-table-data .data.studio span a:hover {
	color: #416abe !important;
}
.data.studio:before {
	content: "Studios:";
	display: block;
	color: #777;
}