/*-S-T-A-R-T--------------------*\
| Notes Column Support R1.0      |
\*------------------------------*/

.notes {
	display: block;
	padding-bottom: 4px;
	cursor: text;
}

.notes .text {
	pointer-events: none;
}

[data-owner="1"] .notes .text:not(:empty)::after {
	content: "\a Edit notes";
	white-space: pre;
	color: var(--text-dim);
	font-size: 10px;
	pointer-events: auto;
	cursor: pointer;
}
.notes .text:hover::after {
	color: var(--text-dim-h);
}

.notes .edit {
	color: var(--text-dim) !important;
	cursor: pointer;
}
.notes .edit:hover {
	color: var(--text-dim-h) !important;
}

.notes textarea {
	background: var(--btn-bg);
	border: 1px solid var(--bg-dark);
	outline-color: var(--accent);
	color: var(--text);
}

.data.title {
	height: auto;
}

.data.type,
.data.title {
	top: 0;
	align-self: flex-start;
}

/*------------------------E-N-D-*/