/* "Clarity" Modification by Valerio Lyndon / Hover Image / Revision 0.1 */

/* Temporary MAL Shutdown Fix */

/* Base */
.data.image {
	overflow: visible;
	border-radius: 0;
}
.data.image .link {
	height: 64px;
}
.data.image .link:after {
	transition-property: opacity, top !important;
	border-radius: 50%;
}
.list-item:hover .data.image .link:after {
	opacity: 1;
}

.data.image img {
	border-radius: 50%;
	margin-top: 0;
}
@keyframes img-in {
	0% {
		height: 0;
	}
	100% {
		height: 200px;
	}
}
.list-item:hover img {
	position: absolute;
	top: 50%;
	left: -166px;
	
	width: 150px !important;
	height: 200px !important;
	margin: 0;
	margin-top: -100px;
	border-radius: 8px;
	box-shadow: 0 0 2px #000;
	
	object-fit: cover;
	object-position: center;
	
	transform: none;
	z-index: 50;
	opacity: 1;
	pointer-events: none;
	animation: img-in 0.3s ease;
	transition: height, margin 0.3s ease;
}