/* Identifiers */

.status-menu:after {
	background-image: url(https://myanimelist.cdn-dena.com/images/userimages/5889451.jpg);
}
#cover-image-container:after {
	content: "Valerio\a       Lyndon";
}

/* Custom Codes */

.data.tags a[href*="tag\=Favourite"], .data.tags a[href*="tag\=Favorite"] {
	position: absolute;
	left: -32px;
	top: 50%;
	margin-top: -13px;
	
	width: 26px;
	height: 26px;
	padding: 0;
	background: #fff;
	border-radius: 50%;
	
	color:#ff65ad;
	font-size: 0px !important;
	line-height: 23px;
	
	overflow: hidden;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2)	
} .data.tags a[href*="tag\=Favourite"]:after, .data.tags a[href*="tag\=Favorite"]:after { content: "♥"; font-size: 26px !important; }

/* Tag Colours */

.data.tags a[href*="tag\=Family%20Friendly"] { background:#bcbcff }

.data.tags a[href*="tag\=Hard%20Violence"]{background:rgba(214,148,148,1.0)}
.data.tags a[href*="tag\=Violence"]{background:rgba(214,148,148,0.75)}
.data.tags a[href*="tag\=Mild%20Violence"]{background:rgba(214,148,148,0.5)}
.data.tags a[href*="tag\=No%20Violence"]{background:rgba(214,148,148,0.25)}

.data.tags a[href*="tag\=Full%20Nudity"]{background:rgba(195,85,157,1.0)}
.data.tags a[href*="tag\=Nudity"]{background:rgba(195,85,157,0.75)}
.data.tags a[href*="tag\=Mild%20Nudity"]{background:rgba(195,85,157,0.5)}
.data.tags a[href*="tag\=No%20Nudity"]{background:rgba(195,85,157,0.25)}

.data.tags a[href*="tag\=Good%20Animation"],
.data.tags a[href*="tag\=Good%20Audio"],
.data.tags a[href*="tag\=Good%20Voice"],
.data.tags a[href*="tag\=Funny"],
.data.tags a[href*="tag\=Mildly%20Funny"],
.data.tags a[href*="tag\=Moe"]
{background:#63a2ef}

.data.tags a[href*="tag\=Tsundere"],
.data.tags a[href*="tag\=Generic"],
.data.tags a[href*="tag\=Emotional"],
.data.tags a[href*="tag\=Fan%20Service"]
{ background: #9aedca; }

.data.tags a[href*="tag\=Bad%20Animation"],
.data.tags a[href*="tag\=Bad%20Audio"],
.data.tags a[href*="tag\=Bad%20Voice"],
.data.tags a[href*="tag\=Unfunny"],
.data.tags a[href*="tag\=Harem"],
.data.tags a[href*="tag\=Boring%20Patch"],
.data.tags a[href*="tag\=Boring"],
.data.tags a[href*="tag\=Mild%20Cringe"],
.data.tags a[href*="tag\=Cringe"],
.data.tags a[href*="tag\=Quirky"]
{ background: #28e970; }

.data.tags a[href*="tag\=Dropped"],
.data.tags a[href*="tag\=Try%20Again"]
{ background: #6f4c4c; color: #fff; }