/***** BLACKOUT *****|
 v0.5.0             *|
 a list design      *|
 by Valerio Lyndon  */

@\import "https://fonts.googleapis.com/css2?family=Source%20Sans%20Pro:wght@400;700&display=swap";

/* to calculate triangle: flat side * 0.8666 */

/* setup */

:root {
	--b: #000;
	--bimg: url(https://i.imgur.com/aiGn4Bn.png);
	--f: #131313aa;
	--f2: #181818aa;
	--f3: #131313;
	--t: #ababab;
	--b1: #ababab;
	--b2: #282828;
	--t2: #fff;
	--l: #f0f;
}

html {
	font-size: 4px;
	box-sizing: border-box;
} *, *::before, *::after {
	box-sizing: inherit;
}

@media (min-width: 1900px) {
	html {
		font-size: 5px;
	}
}
@media (min-width: 2500px) {
	html {
		font-size: 6px;
	}
}
@media (min-width: 3800px) {
	html {
		font-size: 8px;
	}
}

* {
	font-family: "Source Sans Pro", "Roboto", "Arial", "FontAwesome", sans-serif !important;
}

body.ownlist {
	background: var(--bimg) repeat;
	background-color: var(--b) !important;
	color: var(--t) !important;
	font-size: 3em;
}
body::before,
body::after {
	content: "";
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(https://i.imgur.com/XrhwAmh.png) repeat center top / auto fixed;
	opacity: 0.08;
}
body::before {
	animation:
		10s ease-in-out breath-in 1,
		30s ease-in-out 10s breath infinite;
	mask: repeating-linear-gradient(to bottom, black 0px, black 102px, transparent 102px, transparent 208px, black 208px) center top / 110px 208px;
}
body::after {
	animation:
		10s ease-in-out breath-in 1 reverse,
		44s ease-in-out 10s breath-reverse infinite;
	mask: repeating-linear-gradient(to bottom, transparent 0px, transparent 102px, black 102px, black 208px, transparent 208px) center top / 110px 208px;
}
@keyframes breath-in {
	0%, 100%, 19%, 77% {
		opacity: 0.08;
	}
	50%, 80% {
		opacity: 0.07;
	}
	70% {
		opacity: 0.091;
	}
	30%, 87% {
		opacity: 0.067;
	}
	
	0%, 20%, 56%, 97%, 33%, 45%, 100% {
		background-position-x: 0%;	
	}
	30%, 40% {
		background-position-x: 250px;
	}
	60%, 80% {
		background-position-x: -400px;	
	}
}
@keyframes breath {
	0%, 100%, 19%, 77% {
		opacity: 0.10;
	}
	50%, 80% {
		opacity: 0.07;
	}
	70% {
		opacity: 0.13;
	}
	30%, 87% {
		opacity: 0.08;
	}
	
	0% {
		background-position-x: 0px;
	}
	50% {
		background-position-x: calc(110px * 3);
	}
	55% {
		background-position-x: calc(110px * 2.5);
	}
	100% {
		background-position-x: calc(110px * 6);
	}
}
@keyframes breath-reverse {
	0%, 100%, 19%, 77% {
		opacity: 0.08;
	}
	50%, 80% {
		opacity: 0.11;
	}
	70% {
		opacity: 0.05;
	}
	30%, 87% {
		opacity: 0.065;
	}
	
	0% {
		background-position-x: 0px;
	}
	40% {
		background-position-x: calc(110px * -4);
	}
	43% {
		background-position-x: calc(110px * -5.5);
	}
	100% {
		background-position-x: calc(110px * -7);
	}
}

/* tv static: https://www.deviantart.com/tbh-1138/art/TV-Static-214352630 */
/* footer::after {
	content: "";
	position: fixed;
	z-index: 500;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/fb5482a9-1ec4-4f6a-a28a-84d267f89594/d3jmbjq-9d52e89c-e6eb-40ab-9517-8754ba9a3bcc.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2ZiNTQ4MmE5LTFlYzQtNGY2YS1hMjhhLTg0ZDI2N2Y4OTU5NFwvZDNqbWJqcS05ZDUyZTg5Yy1lNmViLTQwYWItOTUxNy04NzU0YmE5YTNiY2MuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mg-Gz7pjrmku41ylRehaOJTtegctwYnAARUBMXfjm4k) repeat;
	clip-path: inherit;
	opacity: 0.09;
	transition: opacity 25s ease-in-out 10s;
}
html:hover footer::after {
	transition-duration: .4s;
	transition-delay: 0s;
	opacity: 0;
} */

a,
.header a,
.list-table .list-table-data .data a:not(.edit-disabled) {
	color: var(--t2) !important;
}
a:hover,
.header a:hover,
.list-table .list-table-data .data a:not(.edit-disabled):hover {
	color: var(--l) !important;
}

/* conts */

#list-container {
	position: static;
	display: flex;
	width: 100%;
	min-width: 170rem;
	max-width: calc(100vw - 17px);
	min-height: 100vh;
	flex-flow: row-reverse nowrap;
	justify-content: center;
	background: none !important;
	border: none !important;
}

.list-block {
	width: 170rem;
	margin-top: 0 !important;
}

.list-unit {
	width: initial;
}

.list-table {
	display: block;
	margin: 0 auto;
}

.list-table::before {
	content: "";
	display: block;
	width: 100%;
	height: 16rem;
	background: var(--f3);
	margin-bottom: 6rem;
	--clip-1: 6rem;
	--clip-2: var(--clip-1);
	clip-path: polygon(0 var(--clip-1), var(--clip-1) 0, 100% 0, 100% calc(100% - var(--clip-2)), calc(100% - var(--clip-2)) 100%, 0 100%);
	clip-path: polygon(0 0, calc(100% - var(--clip-1)) 0, 100% var(--clip-1), 100% 100%, var(--clip-2) 100%, 0 calc(100% - var(--clip-2)));
}

/* category menu */

#status-menu {
	position: static;
	width: 0;
	height: auto;
	background: none;
	border: none;
}

#status-menu .status-menu {
	position: relative;
	left: -170rem;
	display: flex;
	width: 100rem;
	padding: 2rem;
}

#status-menu .status-button {
	width: 14rem !important;
	height: 12.13rem;
	background: linear-gradient(135deg, var(--b1), var(--b2));
	margin-right: -4rem;
	clip-path: polygon(50% 100%, 100% 0, 0 0);
	font-size: 0;
	transition: transform 0.15s ease;
}
#status-menu .status-button:nth-of-type(even) {
	clip-path: polygon(50% 0, 100% 100%, 0 100%);
}
#status-menu .status-button:hover {
	transform: scale(1.2);
}

#status-menu .status-button::before {
	content: var(--i);
	position: absolute;
	top: .3rem;
	left: .5rem;
	width: calc(100% - 1rem);
	height: calc(100% - 1rem);
	background: var(--f);
	font: bold var(--s)/8rem FontAwesome;
	clip-path: inherit;
}
#status-menu .status-button:nth-of-type(even)::before {
	top: .7rem;
	line-height: 14rem;
}

.status-button:nth-child(1) {
	--i: "\2a";
	--s: 5rem;
}
.status-button:nth-child(2) {
	--i: "\f04b";
	--s: 4.5rem;
}
.status-button:nth-child(3) {
	--i: "\f00c";
	--s: 5rem;
}
.status-button:nth-child(4) {
	--i: "\f04c";
	--s: 5rem;
}
.status-button:nth-child(5) {
	--i: "\f00d";
	--s: 5rem;
}
.status-button:nth-child(6) {
	--i: "\f017";
	--s: 4.5rem;
}

#status-menu .status-button::after {
	content: none;
}


/* TEMP */
.list-unit .list-status-title,
.list-table > tbody:first-of-type,
.search-container
{
	display: none;
}

/* user menu */

.list-menu-float {
	position: absolute;
	top: 4rem;
	left: 50%;
	display: flex;
	width: auto;
	height: auto;
	border: none;
	transform: translateX(-50%);
	display: none;
}

.list-menu-float .icon-menu {
	width: 14rem !important;
	height: 12.13rem;
	background: linear-gradient(135deg, var(--b1), var(--b2));
	margin-right: -4rem;
	clip-path: polygon(50% 100%, 100% 0, 0 0);
}
.list-menu-float .icon-menu:nth-of-type(even) {
	clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.list-menu-float .icon-menu:not(.profile)::before {
	content: "";
	position: absolute;
	top: .3rem;
	left: .5rem;
	width: calc(100% - 1rem);
	height: calc(100% - 1rem);
	background: var(--f2);
	clip-path: inherit;
}
.list-menu-float .icon-menu:nth-of-type(even)::before {
	top: .7rem;
}

.list-menu-float .icon-menu svg.icon {
	fill: var(--t);
	transform: scale(0.8) translate(1.25rem, -2rem);
}
.list-menu-float .icon-menu:nth-of-type(even) svg.icon {
	transform: scale(0.8) translate(1.25rem, 2rem);
}

/* @media (min-width: 1280px) {
	.list-menu-float {
		flex-flow: column;
	}
	.list-menu-float .icon-menu {
		clip-path: polygon(0 0, 100% 50%, 0 100%);
		margin-right: 0;
		margin-bottom: -4rem;
	}
	.list-menu-float .icon-menu:nth-of-type(even) {
		clip-path: polygon(0 50%, 100% 0, 100% 100%);
	}
	.list-menu-float .icon-menu svg.icon {
		margin-top: 0 !important;
		margin-left: -1rem;
		fill: var(--t);
		transform: scale(0.8);
	}
	.list-menu-float .icon-menu:nth-of-type(even) svg.icon {
		margin-left: 2rem;
	}
} */

/* temp */

.icon-menu.setting {
	display: none;
}

/* header */

.header {
	width: 100%;
	height: 30rem;
}

.header .header-title {
	top: 4rem;
	left: auto;
	right: 4rem;
	width: auto;
	background: none;
	font-size: 0;
}

.header .header-title::after {
	content: "\f00d";
	display: block;
	letter-spacing: .1em;
	font-size: 6rem;
	text-indent: 0;
}

.header .header-menu {
	position: static;
}
.header .header-menu .btn-menu {
	font-size: 0;
}
.header .header-menu .btn-menu .username {
	position: absolute;
	top: 20rem;
	left: calc(50% - 83rem);
	height: 6rem;
	background: var(--f2);
	border: .5rem solid var(--b2);
	padding: 0 4px;
	font-size: 0;
	line-height: 5rem;
	font-weight: normal;
	text-transform: lowercase;
}
.username::before,
.username::after {
	content: "/home/";
	font-size: 3.3rem;
}
.username[href*="/animelist/"]::after {
	content: "/list";
	font-size: 3.3rem;
}
.username[href*="/mangalist/"]::after {
	content: "/list";
	font-size: 3.3rem;
}
[data-owner="1"] .username {
	font-size: 0;
}
.anime[data-owner="1"] .username::after {
	content: "personal/animelist";
}
.manga[data-owner="1"] .username::after {
	content: "personal/mangalist";
}

/* cover image */

.cover-block {
	position: sticky;
	top: 10rem;
	width: auto;
	height: 0;
	flex-shrink: 1;
	margin: 0;
}

#cover-image-container {
	display: block;
	width: calc(100vw - 186rem);
	max-width: 50vh;
	padding: .5rem;
	margin-left: 4rem;
	background: linear-gradient(135deg, var(--b1), var(--b2));
	--clip-1: 12rem;
	--clip-2: 12rem;
	clip-path: polygon(0 var(--clip-1), var(--clip-1) 0, 100% 0, 100% calc(100% - var(--clip-2)), calc(100% - var(--clip-2)) 100%, 0 100%);
	animation: .8s ease 3s backwards 1 banner-flicker,
	           1.1s ease-out 3s backwards 1 slide;
}

/* #cover-image-container::before {
	content: "";
	position: absolute;
	z-index: 1;
	width: calc(100% - 5rem);
	height: calc(100vh - 20rem);
	background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/fb5482a9-1ec4-4f6a-a28a-84d267f89594/d3jmbjq-9d52e89c-e6eb-40ab-9517-8754ba9a3bcc.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2ZiNTQ4MmE5LTFlYzQtNGY2YS1hMjhhLTg0ZDI2N2Y4OTU5NFwvZDNqbWJqcS05ZDUyZTg5Yy1lNmViLTQwYWItOTUxNy04NzU0YmE5YTNiY2MuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mg-Gz7pjrmku41ylRehaOJTtegctwYnAARUBMXfjm4k) repeat;
	clip-path: inherit;
	opacity: 0.09;
} */

@keyframes slide {
	from {
		transform: translateY(30rem);
	}
	67%, 70% {
		transform: translateY(-5rem);
	}
	83%, 87% {
		transform: translateY(3rem);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes banner-flicker {
	0%, 12%, 70% {
		opacity: 0;
	}
	5%, 19%, 38%, 68%, 73%, 25% {
		opacity: 0.7;
	}
	1%, 40%, 60%, 30% {
		opacity: 0.4;
	}
	77%, 97% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}

#cover-image {
	width: 100%;
	object-fit: cover;
	height: calc(100vh - 20rem);
	clip-path: inherit;
}

/* list */

@keyframes flicker-on {
	0%, 15% {
		opacity: 0.2;
	}
	19%, 36%, 63%, 75% {
		opacity: 0.7;
	}
	40%, 55%, 80%, 97% {
		opacity: 0.4;
	}
	100% {
		opacity: 1;
	}
}

.list-item {
	display: block;
	width: 100%;
	padding: 6rem 0 2rem;
	--delay: 2.8s;
	animation: .4s ease var(--delay) backwards 1 flicker-on;
}

.list-table-data {
	transition: transform 0.3s ease;
}
.list-item:hover .list-table-data {
	transform: scale(1.1) translateX(10rem);
}

.list-item:nth-child(2) {
	--delay: 0s;
}
.list-item:nth-child(3) {
	--delay: .3s;
}
.list-item:nth-child(4) {
	--delay: .5s;
}
.list-item:nth-child(5) {
	--delay: .9s;
}
.list-item:nth-child(7) {
	--delay: 1.4s;
}
.list-item:nth-child(3n) {
	--delay: 2.2s;
}
.list-item:nth-child(n+16) {
	--delay: 5s;
}
.list-item:nth-child(4n+16) {
	--delay: 4.5s;
}
.list-item:nth-child(3n+8) {
	--delay: 3.5s;
}
.list-item:nth-child(n+300) {
	--delay: 0s;
}

.list-table-data {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	padding: 0 1rem 8rem 18rem;
}
.list-table-data::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background: linear-gradient(to top, var(--f2) 7rem, var(--f) 0);
	--clip-1: 2.5rem;
	--clip-2: 3rem;
	clip-path: polygon(0 var(--clip-1), var(--clip-1) 0, 100% 0, 100% calc(100% - var(--clip-2)), calc(100% - var(--clip-2)) 100%, 0 100%);
}

.data {
	height: 7rem;
	margin-right: 2rem;
	margin-bottom: 2rem;
	float: left;
}
.list-table .list-item .list-table-data .data {
	padding: 0;
	border: 0;
	text-align: left;
}

.data.number {
	position: absolute;
}

.data.image {
	position: absolute;
	top: .25rem;
	left: .25rem;
	z-index: 1;
	width: 15.5rem;
	height: calc(100% - .5rem);
	--clip-1: 2.5rem;
	--clip-2: 4rem;
	clip-path: polygon(0 var(--clip-1), var(--clip-1) 0, 100% 0, 100% calc(100% - var(--clip-2)), calc(100% - var(--clip-2)) 100%, 0 100%);
	pointer-events: none;
	transition: opacity 0.12s ease-out;
}
.list-table-data:hover .data.image {
	opacity: 0;
}

.list-table .list-table-data .data.title .add-edit-more {
	position: absolute;
	top: 0;
	left: 0rem;
	width: 16rem;
	height: 100%;
	padding: .25rem;
	background: linear-gradient(170deg, var(--cat) 3rem, var(--b1) 3rem);
	--clip-1: 2.5rem;
	--clip-2: 4rem;
	clip-path: polygon(0 var(--clip-1), var(--clip-1) 0, 100% 0, 100% calc(100% - var(--clip-2)), calc(100% - var(--clip-2)) 100%, 0 100%);
	font-size: 0;
}
.add-edit-more::before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background: var(--b) var(--bimg) repeat;
	clip-path: inherit;
}

.add-edit-more span {
	position: static !important;
}

.add-edit-more a {
	position: absolute;
	left: .75rem;
	width: calc(100% - 1.5rem);
	background: var(--f2);
	margin-bottom: 2rem;
	line-height: 5rem;
	font-size: 3.3rem;
	text-align: center;
	text-transform: uppercase;
	--clip-1: 1rem;
	--clip-2: 1rem;
	clip-path: polygon(0 var(--clip-1), var(--clip-1) 0, 100% 0, 100% calc(100% - var(--clip-2)), calc(100% - var(--clip-2)) 100%, 0 100%);
}
.add-edit-more span:first-of-type a {
	top: .75rem;
	--clip-1: 2.25rem;
}
.add-edit-more .more a {
	top: 6.5rem;
}

.list-table .list-table-data .data.image .link,
.list-table .list-table-data .data.image .image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: none;
}

.data.title {
	width: calc(100% - 2rem);
}

.list-table .list-table-data .data.title .link {
	display: inline-block;
	max-width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-top: 2rem;
	font-size: 4.2rem;
	color: var(--l);
	font-weight: normal;
	white-space: nowrap;
}

.title [class^="re"],
.content-status {
	color: var(--t);
	vertical-align: top;
	opacity: 0.8;
	padding-top: 2.5rem;
	display: inline-block;
}

.data.status {
	position: absolute;
	left: 10rem;
	top: 0;
	width: calc(100% - 13rem) !important;
	height: .25rem;
	background: var(--cat) !important;
	pointer-events: none;
	--catxt: "";
	--clip: 1.5rem;
}

.data.status::after {
	content: var(--catxt);
	position: absolute;
	top: 0;
	right: -3rem;
	display: block;
	width: 15.5rem;
	height: 4rem;
	background: var(--cat);
	color: var(--b);
	font-size: 1.2em;
	line-height: 4rem;
	text-align: center;
	opacity: 1;
	clip-path: polygon(0 0, 100% 0, 100% 100%, var(--clip) 100%, 0 calc(100% - var(--clip)));
}

.data.status[class$="ing"],
.data.status[class$="ing"] ~ .data {
	--catxt: "LIVE";
	--cat: #2db039;
}
.data.status.completed,
.data.status.completed ~ .data {
	--catxt: "CMPL";
	--cat: #26448f;
}
.data.status.onhold,
.data.status.onhold ~ .data {
	--catxt: "HOLD";
	--cat: #f1c83e;
}
.data.status.dropped,
.data.status.dropped ~ .data {
	--catxt: "DROP";
	--cat: #a12f31;
}
.data.status[class^="planto"],
.data.status[class^="planto"] ~ .data {
	--catxt: "PLAN";
	--cat: #c3c3c3;
}

.data.score {
}

.data .score-label {
	position: relative;
	display: block;
	width: 7rem;
	height: 7rem;
	background: var(--f2);
	border: .5rem solid var(--c);
	line-height: 6rem;
	text-align: center;
	border-radius: 50%;
	--c: var(--b1);
}
.data .score-na {
	border-width: .25rem;
	line-height: 6.5rem;
}
.data .score-1,
.data .score-2,
.data .score-3,
.data .score-4 {
	--c: #e37b7baa;
}
.data .score-5,
.data .score-6 {
	--c: #e37bccaa;
}
.data .score-7,
.data .score-8 {
	--c: #7b9ee3aa;
}
.data .score-9,
.data .score-10 {
	--c: #cea139aa;
	border-width: .75rem;
	line-height: 5.5rem;
}

.data.progress,
.data.chapter,
.data.volume {
	padding: 0 3rem !important;
	background: var(--f2);
	border: .25rem solid var(--b1) !important;
	border-radius: 100rem;
	line-height: 6.5rem;
}
.data.progress span:only-of-type::before,
.data.chapter span:only-of-type::before,
.data.volume span:only-of-type::before {
	content: "\f00c  ";
}

[class^="icon-add-"] {
	position: relative;
	left: .75rem;
}

/* Number & Type */

.data.number {
	position: absolute;
	right: 4rem;
	bottom: 0rem;
	margin: 0;
	line-height: 7rem;
}
.data.number::before {
	content: "#";
	display: inline;
}

.data.type {
	position: absolute;
	right: 4rem;
	bottom: 0rem;
	margin: 0;
	line-height: 7rem;
	text-transform: uppercase;
}
.data.number ~ .type {
	right: 12rem;
}
.data.type::before {
	content: "entry//";
	display: inline;
}

/* Labels */

.data::before {
	content: var(--lbl);
	display: block;
	line-height: 1;
	opacity: 0.5;
	text-transform: uppercase;
}
.data.started,
.data.airing-started {
	margin-right: 0;
} .data.started {
	--lbl: "User Dates";
} .data.airing-started {
	--lbl: "Air Dates";
}
.data.started::after,
.data.airing-started::after {
	content: " \f061  ";
	white-space: pre;
}

.data.finished,
.data.airing-finished {
	padding-top: 1em !important;;
}

.data:not(.score):not(.progress):not(.rated):not(.tags):not(.title):not(.type):not(.image):not(.started):not(.airing-started):not(.number) {
	padding-right: 1.75rem;
	border-right: .25rem solid var(--b2);
}

.data.days {
	--lbl: "Days";
}
.data.season {
	--lbl: "Premiered";
}
.data.rated {
	position: absolute;
	bottom: 8rem;
	right: 2rem;
	height: 5rem;
	padding: 0 1rem !important;
	border: .5rem solid var(--b1) !important;
	font-size: 3rem;
	font-weight: bold;
	line-height: 3.3rem;
	margin: 0;
}
.data.studio {
	order: 25;
	--lbl: "Studios";
}
.data.licensor {
	order: 25;
	--lbl: "Licensors";
}
.data.magazine {
	order: 25;
	--lbl: "Magazine";
}
.data.storage {
	--lbl: "Storage";
}
.data.priority {
	--lbl: "Priority";
}
.data.genre {
	order: 25;
	--lbl: "Genres";
}
.data.demographic,
.data.genre ~ .genre {
	order: 25;
	--lbl: "Demographic";
}

.data.storage,
.data.days {
	overflow: hidden;
	white-space: nowrap;
}
.data.studio:empty::after,
.data.licensor:empty::after,
.data.genre:empty::after,
.data.demographic:empty::after,
.data.storage::after {
	content: "no data";
	display: block;
	opacity: .5;
}
.data.days::after {
	content: "n/a";
	display: block;
	opacity: .5;
}

.data.tags {
	position: absolute;
	bottom: 0;
	left: 18rem;
	width: calc(100% - 18rem - var(--m));
	height: 7rem;
	margin: 0;
	--m: 0rem;
}
.number ~ .tags {
	--m: 10rem;
}
.type ~ .tags {
	--m: 20rem;
}
.number ~ .type ~ .tags {
	--m: 30rem;
}

.data.tags div {
	display: flex;
	flex-flow: row wrap;
	padding: 1rem 0;
	align-items: center;
	line-height: 5rem;
}
.data.tags div:empty::before {
	content: "BLANK";
	opacity: .5;
}

.data.tags span {
	font-size: 0;
	height: 5rem;
}
.data.tags span a {
	display: inline-flex;
	font-size: 3rem;
	margin-right: 1.5rem;
}
.data.tags span a::before {
	content: "";
	display: block;
	width: .25rem;
	height: 5rem;
	background: var(--t);
/* 	transform: skew(-15deg, -45deg); */
	transform: rotate(15deg);
	margin-right: 1.25rem;
	opacity: .5;
}

.list-table .list-table-data .tags .edit {
	position: absolute;
	right: 0;
	top: 1rem;
	width: auto;
	opacity: 0;
	transition: opacity .2s ease;
}
.list-table .list-table-data:hover .tags .edit {
	opacity: 1;
}

.more-info {
	border: none !important;
}

.list-unit .loading-space {
	position: fixed;
	z-index: 500;
	bottom: 4rem;
	left: 0;
	width: 100%;
	height: auto;
	margin: 0;
}

#loading-spinner {
	display: block;
	width: 80%;
	height: 5rem;
	background: var(--b2);
	padding: 1rem;
	margin: 0 auto;
}
#loading-spinner::before {
	font-size: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: var(--t);
	animation: 1.3s ease-in-out infinite load;
}
@keyframes load {
	0% {
		transform: scaleX(0);
		transform-origin: left center;
	}
	49.9999% {
		transform: scaleX(1);
		transform-origin: left center;
	}
	50% {
		transform: scaleX(1);
		transform-origin: right center;
	}
	100% {
		transform: scaleX(0);
		transform-origin: right center;
	}
}
/* #loading-spinner::after {
	content: "LOADING";
	display: block;
	margin-top: -3rem;
	color: var(--b);
	line-height: 3rem;
} */

/* Footer */

#footer-block {
	position: relative;
	width: auto !important;
	background: none;
	color: var(--t);
}
#copyright::after {
	content: " List design by Valerio Lyndon.";
}
#copyright, #recaptcha-terms {
	display: inline;
	font-size: 2.5rem;
}