/*
Oscillate v0.8.0
by Valerio Lyndon
a Genshin Impact design
*/

@\import "https://dl.dropboxusercontent.com/s/smydsd5wwtt5ofi/Mermaid.css";
@\import "https://dl.dropboxusercontent.com/scl/fi/s9je4oepavvijvlwmqial/Genshin.css?rlkey=dmrpu1hld3wv30i8iqnsg4ci7";

/* Page Body */

html {
	--s-fade-bg: 250px;
	--s-fade-line: 30px;
	--s-row-w: clamp(600px, 70vw, 900px);
	
	--t-pause: .6s ease;
	--t-row: .24s ease;
	
	--i-bg-generic: url(https://i.imgur.com/2lJ1X6E.png);
	
	--f-sans-serif: Tahoma, Helvetica, Arial, FontAwesome, sans-serif;
	--f-brand: Genshin, var(--f-sans-serif);
	--f-title: Mermaid, var(--f-sans-serif);
	
	box-sizing: border-box;
	height: 100%;
	animation: intro-flashbang 5s ease-out backwards;
} *, *::before, *::after {
	box-sizing: inherit;
}

* {
	cursor: url(https://i.imgur.com/CjahEnY.png) 2 2, default;
}
:link, :link * {
	cursor: url(https://i.imgur.com/nOrtOLo.png) 2 2, pointer;
}

body {
	position: relative;
	min-height: 100%;
	padding-top: calc(100vh - 250px);
	background: var(--i-bg-generic) center / cover no-repeat fixed #312127;
	font-size: 11px;
	font-family: var(--f-brand);
	transform-origin: center top;
}

a,
table#mal_control_strip a {
	text-decoration: none;
}

/* Cover Banner */

#recaptcha-terms {
	position: absolute; 
}

body::after {
	content: "";
	position: absolute;
	top: calc(90vh - 450px);
	width: 100%;
	height: 200px;
	background: url(https://i.imgur.com/XRcj5JM.png) center / contain no-repeat;
	filter: invert(1);
	transform-origin: center top;
	animation: intro-slide 1.8s ease backwards .2s;
}

@keyframes intro-slide {
	0% {
		opacity: 0;
		transform: translateY(-200px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes intro-flashbang {
	0% {
		filter: brightness(1.23);
	}
	100% {
		filter: brightness(1);
	}
}

/* Side Bar */

body #mal_control_strip {
	position: fixed;
	top: 0;
	left: -100vw;
	z-index: 99;
	display: flex;
	height: 100%;
	background: url(https://i.imgur.com/2lJ1X6E.png) center / cover;
	transition: left var(--t-pause);
} body #mal_control_strip:hover {
	left: 0;
}

body #mal_control_strip:active,
body #mal_control_strip:not(:hover) {
	pointer-events: none;
}

#inlineContent {
	position: fixed;
	left: 25px;
	top: 25px;
	z-index: 101;
	display: block !important;
	width: 60px;
	height: 60px;
	cursor: url(https://i.imgur.com/nOrtOLo.png) 2 2, pointer;
}
#inlineContent:active,
#mal_control_strip:hover ~ #list_surround #inlineContent {
	pointer-events: none;
}

#mal_control_strip::before {
	content: "";
	position: absolute;
	left: calc(100vw - 17px);
	top: 0;
	width: calc(85px + 17px);
	height: 85px;
}
#mal_control_strip::after {
	content: "";
	position: absolute;
	left: calc(100vw + 25px);
	top: 25px;
	width: 60px;
	height: 60px;
	background: url(https://b.l3n.co/i/9MKpLe.webp) center / contain no-repeat;
	pointer-events: auto;
	transition: left var(--t-pause), top .2s ease;
}
#mal_control_strip:hover::after {
	left: 25px;
	top: -60px;
}

#mal_control_strip tbody {
	display: flex;
	width: 100%;
}

/* side strip */
#mal_control_strip tbody::before {
	content: "";
	display: block;
	width: 80px;
	height: 100%;
	background: linear-gradient(to bottom, #4b5465, #4b5465dd);
	border: 4px solid #938e8b;
	box-shadow: 0 0 2px #0008;
	border-width: 0 4px;
	pointer-events: auto;
}

/* main bg */
#mal_control_strip tr {
	display: block;
	width: 560px;
	padding: 15px;
	height: 100%;
	background: linear-gradient(to bottom, #eae5df, #eae5df88);
	flex: 0 0 auto;
	box-shadow: inset 4px 0 6px -4px #0008;
	pointer-events: auto;
}

#mal_control_strip tbody::after {
	content: "";
	display: block;
	height: 100%;
	background: url(https://c.l3n.co/i/9Lk8R9.webp) 80% center / auto no-repeat;
	flex: 1 1 auto;
	cursor: url(https://i.imgur.com/nOrtOLo.png) 2 2, pointer;
}

#mal_control_strip td {
	display: block;
}

table#mal_control_strip td div {
	margin: 0;
}


/* Namecard */

#mal_control_strip #mal_cs_listinfo {
	width: calc(100% + 30px);
	height: 264px;
	padding: 20px 32px;
	display: flex;
	flex-flow: column wrap;
	justify-content: start;
	margin: 40px -15px 15px;
	background: url(https://a.l3n.co/i/9nMcTa.webp) center / cover;
	color: #e8e4db;
}

#mal_cs_listinfo::before {
	order: 1;
	content: "";
	display: block;
	width: 112px;
	height: 112px;
	background: url(https://c.l3n.co/i/9MBbRA.webp) center -13px / auto 125% #dd8f61;
	border: 4px solid #ece7e1;
	border-radius: 50%;
	box-shadow: 0 0 0 8px #4a9ca744;
	margin: 8px;
}

#mal_cs_listinfo::after {
	order: 2;
	content: "UID 5889451";
	width: 150px;
	height: 24px;
	background: #42586e;
	border: 2px solid #70859b;
	border-radius: 12px;
	margin: 20px 11px 0 -9px;
	text-align: center;
	font: 16px var(--f-brand);
}

#mal_cs_listinfo div:first-of-type {
	order: 3;
	width: calc(100% - 150px);
}
#mal_cs_listinfo div:last-of-type {
	order: 4;
	width: calc(100% - 150px);
}

td#mal_cs_listinfo a {
	display: block;
	width: 100%;
	height: 38px;
	text-indent: 10px;
	background: linear-gradient(to right, transparent, #07101222 10px, transparent);
}

td#mal_cs_listinfo a strong,
td#mal_cs_otherlinks a[href^="/profile/"] {
	font: 24px/38px var(--f-brand);
}

td#mal_cs_otherlinks strong {
	display: contents;
	font-size: 0;
}
/* hide username if logged out */
#mal_cs_pic ~ #mal_cs_otherlinks strong {
	display: none;
}

td#mal_cs_otherlinks a[href^="/profile/"] {
	position: absolute;
	left: 275px;
	top: 75px;
}

[data-owner=""] td#mal_cs_listinfo a strong {
	display: none;
}

#mal_cs_listinfo div > strong {
	display: grid;
	grid-auto-flow: row;
}

#mal_cs_listinfo div > strong::before {
	order: 1;
	content: "Professional Hirasawa Yui simp.";
	height: 60px;
	padding: 5px 10px;
	font: 16px/30px var(--f-brand);
}

#mal_cs_listinfo div > strong::after {
	order: 1;
	content: "Adventure Rank: 60";
	display: block;
	height: 30px;
	margin-bottom: 5px;
	text-indent: 10px;
	font: 20px/30px var(--f-brand);
	background: linear-gradient(to right, transparent, #07101222 10px, transparent);
}

#mal_cs_listinfo div:first-of-type::after {
	content: "";
	display: block;
	background: url(https://i.imgur.com/2Tcj77c.png) center / 325px auto no-repeat;
	height: 36px;
	margin-bottom: 5px;
	text-indent: 10px;
	font: 20px/30px var(--f-brand);
}

#mal_cs_listinfo div:last-of-type::before {
	order: 1;
	content: "World Level: 8";
	display: block;
	height: 30px;
	text-indent: 10px;
	font: 20px/30px var(--f-brand);
	background: linear-gradient(to right, transparent, #07101222 10px, transparent);
}

/* Left Links */

td#mal_cs_powered {
	display: block;
	clear: both;
}

td#mal_cs_powered #search {
	text-align: center;
	position: absolute;
	bottom: 20px;
	left: 100px;
}

td#mal_cs_powered #search #searchBox {
	width: 340px;
	height: 38px;
	padding: 8px 16px;
	background: #50586d;
	border: none;
	border-radius: 100px;
	box-shadow: inset 0 0 0 2px #596066, inset 0 0 0 5px #6f727f;
	color: #ece5d8;
	font-size: 16px;
}

#searchListButton {
	display: none;
}

td#mal_cs_powered a {
	position: absolute;
	left: 0;
	top: 0;
	width: 50px;
	height: 50px;
	background: url(https://b.l3n.co/i/9MKdXD.webp) center / 50px #eae1d2;
	border: 4px solid #919596;
	border-radius: 50%;
	margin: 15px;
}
td#mal_cs_powered a img {
	display: none;
}

#mal_control_strip .logout {
	position: absolute;
	bottom: 0;
	left: 0;
	background: url(https://c.l3n.co/i/9MKVk3.webp) 100% center / auto;
	font-size: 0;
	width: 50px;
	height: 50px;
	margin: 20px;
}

/* Main Links */

td#mal_cs_links,
td#mal_cs_links td,
td#mal_cs_otherlinks,
td#mal_cs_otherlinks td {
	display: contents !important;
}
td:is(#mal_cs_links,#mal_cs_otherlinks) a:not([href^="/profile/"]) {
	display: block;
	width: 120px;
	height: 120px;
	margin: 5px;
	line-height: 30px;
	box-shadow:
		inset 0 0 0 2px #596066,
		inset 0 0 0 5px #6f727f;
	background: #50586d;
	float: left;
	color: #ece5d8;
	font-size: 0;
	text-align: center;
	text-decoration: none;
	transition: all .2s ease;
	--opacity: 0;
}

td:is(#mal_cs_links,#mal_cs_otherlinks) a:not([href^="/profile/"]):hover {
	outline: 3px solid #f4ecd6;
	transform: scale(1.15);
	animation: pulse .5s ease infinite alternate both;
	--opacity: 1;
}

@keyframes pulse {
	0% {
		outline-color: #f4ecd6;
	}
	100% {
		outline-color: #f4ecd6aa;
	}
}

td:is(#mal_cs_links,#mal_cs_otherlinks) a:not([href^="/profile/"])::before {
	content: var(--t,none);
	display: block;
	width: 100%;
	height: 80px;
	padding-top: 80px;
	background: var(--i, none) center bottom / auto no-repeat;
	font: 16px/40px var(--f-brand);
}

#mal_cs_links [href="/"] {
	display: none !important;
}
[href*="/animelist/"] {
	--i: url(https://a.l3n.co/i/9cGlSe.webp);
}
[href*="/mangalist/"] {
	--i: url(https://a.l3n.co/i/9cGe1x.webp);
}
[href*="addtolist.php"] {
	--i: url(https://b.l3n.co/i/9cGvF1.webp);
	--t: "Add to List";
}
[href$="/statistics"] {
	--i: url(https://c.l3n.co/i/d6CO0q.webp);
	--t: "Statistics";
}
[href="/forum/"] {
	--i: url(https://b.l3n.co/i/9cGzxk.webp);
	--t: "Forum";
}
[href^="/history"] {
	--i: url(https://c.l3n.co/i/9cGnpH.webp);
	--t: "History";
}
[href$="export"] {
	--i: url(https://b.l3n.co/i/9cGHCa.webp);
	--t: "Export";
}
[href^="/sharedanime"] {
	--i: url(https://c.l3n.co/i/dWrKzq.webp);
	--t: "Shared";
}
[href^="/login.php"] {
	--i: url(https://b.l3n.co/i/9cGHCa.webp);
	--t: "Login";
}
[href^="/register.php"] {
	--i: url(https://b.l3n.co/i/d6VBCP.webp);
	--t: "Register";
}
[href="/forum/?board=515949"] {
	--i: url(https://a.l3n.co/i/d6VmSm.webp);
	--t: "Learn More";
}
/* MAL Tools */
[href="javascript:void(0);"] {
	--i: url(https://a.l3n.co/i/dWrSje.webp);
	--t: "Tools";
}

#mal_cs_links [href*="/animelist/"] {
	--t: "Your Anime";
}
#mal_cs_links [href*="/mangalist/"] {
	--t: "Your Manga";
}
#mal_cs_otherlinks [href*="/animelist/"] {
	--t: "Their Anime";
}
#mal_cs_otherlinks [href*="/mangalist/"] {
	--t: "Their Manga";
}

/* Arrow */

td:is(#mal_cs_links,#mal_cs_otherlinks) a:not([href^="/profile/"])::after {
	content: "";
	position: absolute;
	left: calc(50% - 5px);
	top: -5px;
	border: 5px solid white;
	filter: drop-shadow(0 0 2px #fff8);
	border-left-color: transparent;
	border-top-color: transparent;
	rotate: 45deg;
	animation: arrow 1.2s ease-in-out infinite both;
	transition: opacity .2s ease;
	opacity: var(--opacity);
}

@keyframes arrow {
	0%, 100% {
		transform: translate(0px,0px);
	}
	50% {
		transform: translate(6px,6px);
	}
}

/* Search */

td#mal_cs_powered {
	position: static;
}

/* Category Menu */

div:not(.hide) > table:not([class]):first-of-type {
	width: max-content;
	padding: 10px 25px;
	margin: 0 auto;
	display: block;
	--s: 15px;
	clip-path: polygon(0% var(--s), var(--s) 0, calc(100% - var(--s)) 0px, 100% var(--s), 100% calc(100% - var(--s)), calc(100% - var(--s)) 100%, var(--s) 100%, 0% calc(100% - var(--s)));
	animation: intro-fade 1.5s ease backwards 1.5s;
}

@keyframes intro-fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

div:not(.hide) > table:not([class]):first-of-type tbody {
	position: relative;
	display: block;
}

div:not(.hide) > table:not([class]):first-of-type tr {
	display: flex;
	justify-content: center;
}

[class^="status_"] {
	position: relative;
	width: auto;
}

[class^="status_"] a {
	display: block;
	height: 40px;
	padding: 0 18px;
	font-size: 0;
} [class^="status_"]:hover a {
/* 	color: black !important; */
}

[class^="status_"]:nth-child(1) {
/* 	order: 2; */
	--area: "Mondstadt";
}
[class^="status_"]:nth-child(2) {
/* 	order: 4; */
	--area: "Inazuma";
}
[class^="status_"]:nth-child(3) {
/* 	order: 5; */
	--area: "Sumeru";
}
[class^="status_"]:nth-child(4) {
/* 	order: 3; */
	--area: "Liyue";
}
[class^="status_"]:nth-child(5) {
/* 	order: 6; */
	--area: "Fontaine";
}
[class^="status_"]:nth-child(6) {
/* 	order: 1; */
	--area: "All of Teyvat";
}

[class^="status_"] a::after {
	content: var(--area);
	font-size: 16px;
	line-height: 40px;
}

[class^="status_"]::after {
	content: "";
	position: absolute;
	left: 150%;
	bottom: -2px;
	z-index: -1;
	width: 50px;
	height: 4px;
	background: white;
	border-radius: 2px;
	transition: all 0.16s ease-in-out;
	opacity: 0;
	transform: translateX(-50%);
	pointer-events: none;
}
[class^="status_"]:hover::after {
	left: 50%;
	width: calc(100% - 12px);
	opacity: 1;
}
table:not(:hover) [class^="status_"]:nth-of-type(n+4):not(:hover)::after,
[class^="status_"]:last-of-type:not(:hover)::after,
[class^="status_"]:hover ~ [class^="status_"]::after {
	left: -50%;
}

/* Scroll Indicator for visitors */

[data-owner=""] div:not(.hide) > table:not([class]):first-of-type tbody::after {
	content: "";
	position: absolute;
	left: calc(50% - 15px);
	top: 200%;
	width: 30px;
	height: 30px;
	border: 4px solid white;
	border-left-color: transparent;
	border-top-color: transparent;
	rotate: 45deg;
	animation:
		bounce 1s ease infinite alternate both,
		hide 5s ease reverse backwards 0s,
		hide 3s ease forwards 18s;
}

@keyframes bounce {
	0% {
		transform: translate(0px,0px);
	}
	100% {
		transform: translate(30px,30px);
	}
}

@keyframes hide {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* Category Headers */

table[class^="header_"],
#copyright {
	position: sticky;
	top: calc(var(--s-fade-bg) * -1);
	left: 0;
	width: 100%;
	height: calc(100vh + var(--s-fade-bg));
	margin-bottom: -100vh;
	overflow: hidden;
	-webkit-mask: linear-gradient(to bottom, transparent 0, white 150px);
	mask: linear-gradient(to bottom, transparent 0, white 150px);
	background: var(--i-bg, var(--i-bg-generic)) center / cover no-repeat fixed #312127;
}
table.header_cw {
	/* Mondstadt */
	--i-bg: url(https://i.imgur.com/rvwwexZ.jpg);
	/* Jean */
	--i-ch: url(https://i.imgur.com/91qbMNN.png);
	--i-nm: url(https://i.imgur.com/XPF1c8X.png);
	--i-qt: url(https://i.imgur.com/phblNMe.png);
	--s-nm-diff: 120px;
	--s-qt-diff: 80px;
}
table.header_completed {
	/* Inazuma */
	--i-bg: url(https://i.imgur.com/QNBCmB7.jpg);
	/* Kuki Shinobu */
	--i-ch: url(https://i.imgur.com/mB7aZ7y.png);
	--i-nm: url(https://i.imgur.com/AgCplhf.png);
	--i-qt: url(https://i.imgur.com/RpkfpDP.png);
	--s-ch-diff: -40px;
	--s-nm-diff: 90px;
	--s-qt-diff: 60px;
}
table.header_onhold {
	/* Sumeru */
	--i-bg: url(https://i.imgur.com/MgKTjus.jpg);
	/* Layla */
	--i-ch: url(https://i.imgur.com/dV8gBhj.png);
	--i-nm: url(https://i.imgur.com/yHz81t8.png);
	--i-qt: url(https://i.imgur.com/4b7huGS.png);
	--s-nm-diff: 80px;
	--s-qt-diff: 40px;
}
table.header_dropped {
	/* Liyue */
	--i-bg: url(https://i.imgur.com/7PC8ovi.jpg);
	/* Ganyu */
	--i-ch: url(https://i.imgur.com/aJeEAxB.png);
	--i-nm: url(https://i.imgur.com/jX9FH3s.png);
	--i-qt: url(https://i.imgur.com/IvJNhgl.png);
	--s-ch-diff: -80px;
	--s-nm-diff: 70px;
}
table.header_ptw {
	/* Fontaine */
	--i-bg: url(https://i.imgur.com/tyBoCB2.jpg);
	/* Lynette */
	--i-ch: url(https://i.imgur.com/OXwowTf.png);
	--i-nm: url(https://i.imgur.com/8RRxeAh.png);
	--i-qt: url(https://i.imgur.com/mozZ3xN.png);
	--s-nm-diff: 40px;
}

table[class^="header_"] span {
	display: none;
}

table[class^="header_"] + table,
#copyright {
	margin-top: calc(var(--s-fade-bg) * .5) !important;
}

table[class^="header_"] + table::before {
	position: absolute;
	top: 0;
	font: 48px/50px var(--f-title);
	margin-top: -200px !important;
	text-transform: uppercase;
	width: 100%;
	padding-top: 150px;
	text-align: center;
	background:
		var(--i, none) center top / auto 150px no-repeat,
		url(https://c.l3n.co/i/9LC301.png) calc(50% - 200px) 126px / auto no-repeat,
		url(https://c.l3n.co/i/9L9LOb.png) calc(50% + 200px) 126px / auto no-repeat;
}

table.header_cw + table::before {
	content: "Current";
	--i: url(https://webstatic.hoyoverse.com/upload/uploadstatic/contentweb/20200319/2020031918573764353.png);
}
table.header_completed + table::before {
	content: "Completed";
	--i: url(https://webstatic.hoyoverse.com/upload/uploadstatic/contentweb/20210716/2021071618595355993.png);
}
table.header_onhold + table::before {
	content: "Paused";
	--i: url(https://webstatic.hoyoverse.com/upload/contentweb/2022/08/16/f77d0c308b54728b6a1f3bc525e42955_1063974383729558189.png);
}
table.header_dropped + table::before {
	content: "Dropped";
	--i: url(https://webstatic.hoyoverse.com/upload/uploadstatic/contentweb/20200319/2020031921033557909.png);
}
table.header_ptw + table::before {
	content: "Planned";
	--i: url(https://webstatic.hoyoverse.com/upload/op-public/2023/08/10/4f32dd59ce1ed2f07d20f79fc64a358c_6481188169214364264.png);
}

/* Space out headers if you have fewer than 5 list rows in a category */

table[class^="header_"] ~ table[class^="header_"] {
	margin-top: var(--s-fade-bg) !important;
}

/* Footer */

#copyright {
	display: grid;
	place-content: center;
	height: calc(100vh - var(--s-fade-bg));
	min-height: calc(200px + var(--s-fade-bg)*1.25);
	padding: var(--s-fade-bg) 0 calc(var(--s-fade-bg)*.25);
	font-size: 0px;
}

#copyright::after {
	content: "List design by Valerio Lyndon.\a Most assets by HoYoverse.\a Paimon greenscreen by King of Games on YouTube.\a Cursor by Maya on AminoApps.";
	font-size: 12px;
	line-height: 1.6;
	white-space: pre-wrap;
}




/* Characters */

table[class^="header_"]::before {
	content: "";
	display: block;
	width: 800px;
	height: 600px;
	background: var(--i-ch) center bottom / contain no-repeat transparent;
	margin: var(--s-fade-bg) calc(-130px + var(--s-ch-diff, 0px)) 0 auto;
	-webkit-mask: linear-gradient(to top, transparent, white 50px);
	mask: linear-gradient(to top, transparent, white 50px);
}
table.header_completed::before,
table.header_dropped::before {
	margin-left: calc(-130px + var(--s-ch-diff, 0px));
	margin-right: auto;
}

table[class^="header_"] tbody {
	display: block;
	height: 0;
}

table[class^="header_"]::after {
	content: "";
	position: relative;
	display: block;
	width: 450px;
	height: 270px;
	background:
		var(--i-nm) var(--s-nm-diff, 0px) top / auto 100px no-repeat,
		var(--i-qt) var(--s-qt-diff, 0px) bottom / auto 190px no-repeat,
		transparent;
	margin: -80px 0 0 auto;
	text-align: left;
}
table.header_completed::after,
table.header_dropped::after{
	margin-left: 0;
}

/* Table */

div table:not([class]) {
	position: relative;
	z-index: 1;
	width: var(--s-row-w);
	padding: 10px;
	background: rgba(1,1,1,0.6);
	margin: 10px;
	font-size: 14px;
	line-height: 1.4;
}
.hide {
	margin-top: -8px;
	font-family: var(--f-sans-serif);
}

table.header_completed ~ table:not([class]),
table.header_completed ~ .hide table,
div table.header_dropped ~ table:not([class]),
div table.header_dropped ~ .hide table {
	--pos: -1;
	margin-left: auto;
	margin-right: max(10px, calc(50vw - 600px));
}
.header_cw ~ table:not([class]),
.header_cw ~ .hide table,
table.header_onhold ~ table:not([class]),
table.header_onhold ~ .hide table,
div table.header_ptw ~ table:not([class]),
div table.header_ptw ~ .hide table {
	--pos: 1;
	margin-left: max(10px, calc(50vw - 600px));
	margin-right: auto;
}

table, table a {
	color: white;
}

[class^="header_"] ~ table:not([class]) tr,
[class^="header_"] ~ .hide table tr {
	display: grid;
	grid-template-columns: minmax(45%, 1fr) repeat(auto-fit, 90px);
	grid-template-rows: 1fr 18px;
	grid-auto-flow: row;
	align-items: start;
	gap: 5px;
}

/* Lines */

[class^="header_"] ~ table:not([class]) tbody::before,
[class^="header_"] ~ .hide table tbody::before {
	content: "";
	position: absolute;
	top: -10px;
	left: calc(50% + (var(--s-row-w) * .5 + 20px) * var(--pos));
	width: 2px;
	height: calc(100% + var(--s-fade-line) * 2);
	background: linear-gradient(to bottom, transparent, rgba(255,255,255,0.14) var(--s-fade-line), rgba(255,255,255,0.14) calc(100% - var(--s-fade-line)), transparent 100%);
	transform: translateX(-50%);
}

[class^="header_"] ~ table:not([class]) tbody::after,
[class^="header_"] ~ .hide table tbody::after {
	content: url(https://b.l3n.co/i/9L48L9.png);
	position: absolute;
	left: calc(50% + (var(--s-row-w) * .5 + 20px) * var(--pos));
	transform: translate(-50%,-50%);
	top: 50%;
	opacity: 0.3;
	transition: opacity var(--t-row);
}
[class^="header_"] ~ table:not([class]):hover tbody::after,
[class^="header_"] ~ .hide table:hover tbody::after {
	opacity: 1;
}

/* Table Header */

table[class^="header_"] + table {
	background: #cca574;
}
table[class^="header_"] + table :is(td,a) {
	color: black;
	text-transform: uppercase;
}
table[class^="header_"] + table::after {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	border-color: #957c5e transparent transparent #957c5e;
	border-width: 4px;
	border-style: solid;
}

.table_headerLink,
.table_header strong {
	display: inline-block;
	overflow: hidden;
	height: 1.4em;
	font-size: 14px;
}

/* Table Items */

:is(.table_header,[class^="td"]) {
	width: auto;
}

/* Edit/More */

[style="float: right;"] {
	opacity: 0;
	transition: opacity var(--t-row);
}
table:hover [style="float: right;"] {
	opacity: 1;
}

/* Type */

:is(.table_header,[class^="td"])[width="50"] {
	order: 5;
}

/* Dates */

:is(.table_header,[class^="td"]):is([width="90"],[width="45"][nowrap]) {
	grid-row: 2 / 3;
	font-size: 12px;
}
[class^="td"][width="90"] + [width="90"]::before {
	content: "->";
	float: left;
	width: 10px;
	margin-left: -10px;
	text-align: center;
}
[class^="td"][width="45"][nowrap]::before {
	content: "= ";
}
[class^="td"][width="45"][nowrap]::after {
	content: " day(s)";
}

.header_ptw ~ table :is(.table_header,[class^="td"]):is([width="90"],[width="45"][nowrap]) {
	display: none;
}

/* Genres */

:is(.table_header,[class^="td"])[width="125"] {
	grid-area: 2 / 1 / 3 / 2;
	text-align: left;
}

[class^="td"][width="125"] {
	font-size: 0;
	white-space: nowrap;
	opacity: .5;
	transition: opacity var(--t-row);
}
table:hover [class^="td"][width="125"] {
	opacity: 1;
}

[class^="td"][width="125"] a {
	background: #2b3342;
	padding: 3px 6px;
	font-size: 12px;
	border-radius: 999px;
	margin-right: 5px;
}

/* Totals */

.category_totals {
	position: relative;
	top: 9px;
	text-align: center;
	white-space: nowrap;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: -3px;
}

/* Overlays */

#fancybox-wrap {
	box-sizing: initial;
}

/* Misc */

#mal_cs_pic,
[title="Affinity"],
#recaptcha-terms,
.grecaptcha-badge {
	display: none !important;
}